@use "~/../src/assets/scss/global" as G;
@use "sass:math";

/******************************************************************************
* section-body
*******************************************************************************/
.section-body {
  padding-top: 80px;
  @include G.MQ_BELOW_TAB {
    padding-top: 50px;
    overflow: hidden;
  }
}