<%
  // index.htmlに吐き出した時、行があくようならここを一列に
  const __dirname = process.cwd();
  const pageData = {};
  const pageName = 'search/detail/';
  pageData.metaList = JSON.parse(include(`${__dirname}/src/assets/json/meta.json`));
  // pageData.parts = JSON.parse(include(`${__dirname}/src/assets/json/pages/index.json`));
  const func = {
    tagDelete:(text) => {
        return text.replace(/<.*>/g,'');
    },
    zeroPadding:(num) => {
        return ('0' + num).slice(-2);
    },
    getTel:(tel) => {
        const array = tel.split("-");
        return array.join('');
    }
  }
%><% function content(__append) {
  %><div id="contents" class="contents main">
  <div class="detail-nav js-detail-nav">
  <p class="detail-nav-bukken-name">ハイム小竹向原 0203号室</p>
  <div class="detail-nav-left">
      <ul class="detail-nav-list">
          <li class="detail-nav-item js-detail-nav-item"><a href="#detail-top" class="js-scroll">物件トップ</a></li>
          <li class="detail-nav-item js-detail-nav-item"><a href="#detail-features" class="js-scroll">特長・設備</a></li>
          <li class="detail-nav-item js-detail-nav-item"><a href="#bukken-info" class="js-scroll">物件詳細</a></li>
          <li class="detail-nav-item js-detail-nav-item"><a href="#bukken-info-map" class="js-scroll">周辺地図</a></li>
      </ul>
      <div class="detail-nav-btnarea">
          <div class="detail-nav-favorite js-favorite">
              <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
<path d="M11.4,6.136l5.162.877v.073L13.1,11.676l.483,5.241-.052.02L8.565,13.168,3.594,16.937l-.052-.02.483-5.241L.564,7.086V7.013l5.16-.877L8.53.93H8.6Z" fill-rule="evenodd"></path>
</svg>お気に入り
              </a>
          </div>
          <div class="detail-nav-contact">
              <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16"><defs><style>.a{fill:#fff;fill-rule:evenodd;}</style></defs>
<path class="a" d="M18,13.33A2.58,2.58,0,0,1,15.52,16h-13A2.58,2.58,0,0,1,0,13.33V2.66s0-.06,0-.1v0A2.57,2.57,0,0,1,2.49,0h13A2.57,2.57,0,0,1,18,2.53v0s0,.06,0,.09Zm-16.34,0a.84.84,0,0,0,.83.86h13a.84.84,0,0,0,.82-.86V4.26L9.43,8.77h0A.7.7,0,0,1,9,8.88l0,0H9l0,0a.72.72,0,0,1-.37-.11h0L1.66,4.26ZM15.52,1.8h-13a.81.81,0,0,0-.7.43L9,6.94l7.22-4.71A.83.83,0,0,0,15.52,1.8Z"></path>
</svg>お問い合わせ
              </a>
          </div>
      </div>
  </div>
</div>
  
  <div class="bg-white-sp">
<div class="detail-toparea">
  <div class="detail-mainwrap js-detail-head-nav-event" id="detail-top">
      <div class="property-page-titwrap">
          <h1 class="property-page-tit"><span class="property-page-tit-tag">新築</span><span class="property-page-tit-text">ハイム小竹向原 0203号室</span></h1>
          <div class="property-bukkenno-wrap">
          <p class="property-bukkenno">建物番号：B200804810203</p>
          <p class="property-bels"><a href="">BELS認証物件とは<svg xmlns="http://www.w3.org/2000/svg" width="28" height="24.002" viewBox="0 0 28 24.002">
<path d="M21.28,17.142H28V0H5.6V6.856H7.84V2.284H25.76v12.57H21.28ZM0,6.875H21.281V24H0ZM2.25,9.124H19.031V21.718H2.25Z" fill="#656ebb" fill-rule="evenodd"></path>
                  </svg></a></p>
          </div>
      </div>
      <div class="detail-main">
          <div class="detail-mainimgwrap">
              <div class="detail-mainimg">
                  <div class="detail-mainimginner swiper-container-main">
                      <ul class="detail-mainimg-list swiper-wrapper js-swipe-img-load js-mainimg js-swipe-show-btn">
                          
                              <li class="detail-mainimg-item swiper-slide js-swipe-img-load js-mainimg-center js-mainimg-num">
                                  <img src="http://image.rentersnet.jp/a3123294505735a2ec4d63a82d61cad7_property_picture_1469_large.jpg" alt=""></li>
                              <li class="detail-mainimg-item swiper-slide js-swipe-img-load js-mainimg-center js-mainimg-num">
                                  <img src="http://image.rentersnet.jp/1f7bab3b6e01b28df1e48c95f50961b1_property_picture_1469_large.jpg" alt=""></li>
                                  <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                      <img src="/hebel-rooms/common_v2/img/property/main_sample02.jpg" alt=""></li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/0003700ae19295401f2cd1eae055ef1a_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/156aba0e-5303-4961-97cd-e4aea2752f49_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/7e3e77a9-073b-4710-b727-434661c416b6_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/eabe5f12-80af-4b7d-9ef6-320ea91cc001_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/ade04101-98f6-4de2-8910-d9f2a0845526_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/e9cf4654-ed7f-45f9-9fc2-c376e4185274_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-mainimg-center js-mainimg-num">
                                  <img data-srcset="http://image.rentersnet.jp/d610be1c-924b-4d27-b948-5cdff9b064d9_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                              </li>
                              <li class="detail-mainimg-item swiper-slide js-swipe-img-load js-mainimg-center js-mainimg-num">
                                  <img src="http://image.rentersnet.jp/4eddf49d-5ebb-42d8-86dd-92d118392fe1_property_picture_1469_large.jpg" alt=""></li>
                      </ul>
                      <div class="swiper-pagination detail-mainimg-count"></div>
                      <div class="swiper-button-next js-img-load js-center-btn js-slider-next"></div>
                      <div class="swiper-button-prev js-img-load js-center-btn js-slider-prev"></div>
                  </div>
                  <div class="detail-mainimg-hideblock js-detail-mainimg-showblock">
                      <div class="detail-mainimg-hideblock-btnarea js-show-block-target">
                          <div class="detail-mainimg-hideblock-btn detail-mainimg-hideblock-favorite js-favorite">
                              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill-rule:evenodd;}</style></defs>
<path class="a" d="M10.84,5.21,16,6.08v.08l-3.46,4.59L13,16l0,0L8,12.24,3,16l0,0,.48-5.24L0,6.16V6.08l5.16-.87L8,0H8Z"></path>
</svg></a>
                              <p class="detail-mainimg-hideblock-txt">お気に入り</p>
                          </div>
                          <div class="detail-mainimg-hideblock-btn detail-mainimg-hideblock-contact">
                              <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16"><defs><style>.a{fill:#fff;fill-rule:evenodd;}</style></defs>
<path class="a" d="M18,13.33A2.58,2.58,0,0,1,15.52,16h-13A2.58,2.58,0,0,1,0,13.33V2.66s0-.06,0-.1v0A2.57,2.57,0,0,1,2.49,0h13A2.57,2.57,0,0,1,18,2.53v0s0,.06,0,.09Zm-16.34,0a.84.84,0,0,0,.83.86h13a.84.84,0,0,0,.82-.86V4.26L9.43,8.77h0A.7.7,0,0,1,9,8.88l0,0H9l0,0a.72.72,0,0,1-.37-.11h0L1.66,4.26ZM15.52,1.8h-13a.81.81,0,0,0-.7.43L9,6.94l7.22-4.71A.83.83,0,0,0,15.52,1.8Z"></path>
</svg></a>
                              <p class="detail-mainimg-hideblock-txt">お問い合わせ</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="main-detail-button-area for_sp">
                <div class="main-detail-button-wrap">
                  <div class="detail-button-favorite detail-button main-detail-button js-favorite">
                    <a href="#">
                      <span class="detail-button-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <defs>
                            <style>
                              .a {
                                fill-rule: evenodd;
                              }
                            </style>
                          </defs>
                          <path class="a" d="M10.84,5.21,16,6.08v.08l-3.46,4.59L13,16l0,0L8,12.24,3,16l0,0,.48-5.24L0,6.16V6.08l5.16-.87L8,0H8Z"></path>
                        </svg>
                        <span>お気に入り</span>
                      </span>
                    </a>
                  </div>
                  <div class="detail-button-tel-wrap">
                    <div class="detail-button-tel detail-button main-detail-button">
                      <div class="detail-button-tel-inner">
                        <div class="detail-button-inner js-tel" data-telno="0368597377">
                          <p class="detail-button-lead">お電話</p>
                          <p class="detail-button-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
                              <path d="M13.48,5.912a.669.669,0,0,1-.645-.692,3.834,3.834,0,0,0-1.062-2.685A3.351,3.351,0,0,0,9.252,1.379.67.67,0,0,1,8.607.688.669.669,0,0,1,9.252,0a4.583,4.583,0,0,1,3.433,1.561,5.236,5.236,0,0,1,1.44,3.662A.669.669,0,0,1,13.48,5.912Zm-1.964.5a.646.646,0,1,1-1.289,0,2.249,2.249,0,0,0-.608-1.555,2.012,2.012,0,0,0-1.477-.679A.669.669,0,0,1,7.5,3.484a.67.67,0,0,1,.645-.691,3.237,3.237,0,0,1,2.375,1.071A3.642,3.642,0,0,1,11.516,6.41ZM8.32,9.717c.209-.218.413-.429.6-.654A1.516,1.516,0,0,1,11.3,9.038c.359.362.716.754,1.069,1.139l.491.534a1.8,1.8,0,0,1,.015,2.47l-.353.372c-.207.215-.41.425-.6.65a2.321,2.321,0,0,1-1.83.8,5.3,5.3,0,0,1-1.933-.451A12.965,12.965,0,0,1,3.578,11.3,14.055,14.055,0,0,1,.549,6.393C.313,5.716-.409,3.652.828,2.376c.168-.165.325-.334.481-.5.174-.187.348-.373.521-.543a1.487,1.487,0,0,1,2.284.006l.519.55c.358.376.72.756,1.069,1.152A1.723,1.723,0,0,1,5.69,5.515c-.159.171-.311.342-.462.511l-.209.233A5.8,5.8,0,0,0,6.315,8.3s.034.036.034.036l.032.034a5.391,5.391,0,0,0,1.9,1.39ZM5.468,9.342l.425-.521L5.4,9.274A7.215,7.215,0,0,1,3.662,6.306.728.728,0,0,1,3.818,5.6c.164-.173.32-.349.477-.525s.316-.355.482-.533c.2-.213.2-.321,0-.535-.35-.4-.7-.765-1.047-1.128l-.512-.541a.393.393,0,0,0-.261-.151c-.087,0-.157.064-.237.15-.181.178-.34.348-.5.519s-.341.365-.512.531c-.4.415-.39,1.27.049,2.526a12.655,12.655,0,0,0,2.731,4.415,11.722,11.722,0,0,0,4.117,2.927c1.187.476,1.959.481,2.363.016.2-.24.426-.472.653-.708l.322-.338c.174-.2.174-.334-.015-.55l-.484-.526c-.341-.374-.687-.752-1.046-1.117-.21-.224-.344-.225-.542-.012s-.411.454-.64.692l-.32.336a.613.613,0,0,1-.659.167A6.642,6.642,0,0,1,5.468,9.342Z" fill="#fff" fill-rule="evenodd"></path>
                            </svg>03-6859-7337</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="detail-button-contact detail-button main-detail-button">
                    <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                      <div class="detail-button-inner">
                        <p class="detail-button-lead">簡単1分</p>
                        <p class="detail-button-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
                            <defs>
                              <style>
                                .a {
                                  fill: #fff;
                                  fill-rule: evenodd;
                                }
                              </style>
                            </defs>
                            <path class="a" d="M18,13.33A2.58,2.58,0,0,1,15.52,16h-13A2.58,2.58,0,0,1,0,13.33V2.66s0-.06,0-.1v0A2.57,2.57,0,0,1,2.49,0h13A2.57,2.57,0,0,1,18,2.53v0s0,.06,0,.09Zm-16.34,0a.84.84,0,0,0,.83.86h13a.84.84,0,0,0,.82-.86V4.26L9.43,8.77h0A.7.7,0,0,1,9,8.88l0,0H9l0,0a.72.72,0,0,1-.37-.11h0L1.66,4.26ZM15.52,1.8h-13a.81.81,0,0,0-.7.43L9,6.94l7.22-4.71A.83.83,0,0,0,15.52,1.8Z"></path>
                          </svg>Webから問い合わせる</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="detail-mainimg-infolist">
                  <dl class="detail-mainimg-dl">
                      <dt class="detail-mainimg-infolisttit">家賃</dt>
                      <dd class="detail-mainimg-infolistdesc">
                          <span class="detail-mainimg-infocolor">17.7<span class="txt-s-pc">万円</span><span class="txt-s for_sp">（共益費0.5万円）</span></span></dd>
                  </dl>
                  <dl class="detail-mainimg-dl for_pc">
                      <dt class="detail-mainimg-infolisttit">共益費</dt>
                      <dd class="detail-mainimg-infolistdesc">
                          <span class="detail-mainimg-infocolor">0.33<span class="txt-s">万円</span></span></dd>
                  </dl>
                  <dl class="detail-mainimg-dl">
                      <dt class="detail-mainimg-infolisttit">間取り</dt>
                      <dd class="detail-mainimg-infolistdesc detail-mainimg-infolistfloor">2LDK+WIC<span class="detail-mainimg-roomsize">333.33<span class="txt-s">m<sup>2</sup></span></span>
                      </dd>
                  </dl>
              </div>
          </div>
          <div class="detail-mainrightbox for_pc">
              <div class="detail-mainsketch object-fit-img js-property-modal-btn-call js-img-load">
                  <img src="http://image.rentersnet.jp/1f7bab3b6e01b28df1e48c95f50961b1_property_picture_1469_large.jpg" alt="">
              </div>
              <div class="detail-maincontact">
                  <dl>
                      <dt class="detail-maincontact-shop">旭化成不動産レジデンス株式会社<br>ヘーベルメゾン　新宿店</dt>
                      <dd class="detail-maincontact-tel">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
                              <path d="M13.48,5.912a.669.669,0,0,1-.645-.692,3.834,3.834,0,0,0-1.062-2.685A3.351,3.351,0,0,0,9.252,1.379.67.67,0,0,1,8.607.688.669.669,0,0,1,9.252,0a4.583,4.583,0,0,1,3.433,1.561,5.236,5.236,0,0,1,1.44,3.662A.669.669,0,0,1,13.48,5.912Zm-1.964.5a.646.646,0,1,1-1.289,0,2.249,2.249,0,0,0-.608-1.555,2.012,2.012,0,0,0-1.477-.679A.669.669,0,0,1,7.5,3.484a.67.67,0,0,1,.645-.691,3.237,3.237,0,0,1,2.375,1.071A3.642,3.642,0,0,1,11.516,6.41ZM8.32,9.717c.209-.218.413-.429.6-.654A1.516,1.516,0,0,1,11.3,9.038c.359.362.716.754,1.069,1.139l.491.534a1.8,1.8,0,0,1,.015,2.47l-.353.372c-.207.215-.41.425-.6.65a2.321,2.321,0,0,1-1.83.8,5.3,5.3,0,0,1-1.933-.451A12.965,12.965,0,0,1,3.578,11.3,14.055,14.055,0,0,1,.549,6.393C.313,5.716-.409,3.652.828,2.376c.168-.165.325-.334.481-.5.174-.187.348-.373.521-.543a1.487,1.487,0,0,1,2.284.006l.519.55c.358.376.72.756,1.069,1.152A1.723,1.723,0,0,1,5.69,5.515c-.159.171-.311.342-.462.511l-.209.233A5.8,5.8,0,0,0,6.315,8.3s.034.036.034.036l.032.034a5.391,5.391,0,0,0,1.9,1.39ZM5.468,9.342l.425-.521L5.4,9.274A7.215,7.215,0,0,1,3.662,6.306.728.728,0,0,1,3.818,5.6c.164-.173.32-.349.477-.525s.316-.355.482-.533c.2-.213.2-.321,0-.535-.35-.4-.7-.765-1.047-1.128l-.512-.541a.393.393,0,0,0-.261-.151c-.087,0-.157.064-.237.15-.181.178-.34.348-.5.519s-.341.365-.512.531c-.4.415-.39,1.27.049,2.526a12.655,12.655,0,0,0,2.731,4.415,11.722,11.722,0,0,0,4.117,2.927c1.187.476,1.959.481,2.363.016.2-.24.426-.472.653-.708l.322-.338c.174-.2.174-.334-.015-.55l-.484-.526c-.341-.374-.687-.752-1.046-1.117-.21-.224-.344-.225-.542-.012s-.411.454-.64.692l-.32.336a.613.613,0,0,1-.659.167A6.642,6.642,0,0,1,5.468,9.342Z" fill="#e4719e" fill-rule="evenodd"></path>
                          </svg>03-6859-7337
                      </dd>
                  </dl>
                  <div class="detail-maincontactbtn">
                      <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
                              <path d="M18.937,13.329A2.583,2.583,0,0,1,16.451,16H3.423A2.584,2.584,0,0,1,.937,13.329V2.663c0-.034.009-.066.01-.1,0-.014,0-.027,0-.041A2.565,2.565,0,0,1,3.423,0H16.451a2.566,2.566,0,0,1,2.473,2.525c0,.013,0,.026,0,.04,0,.034.009.067.009.1Zm-16.343,0a.847.847,0,0,0,.829.862H16.451a.847.847,0,0,0,.829-.862V4.257L10.364,8.772c-.005,0-.01,0-.015,0a.776.776,0,0,1-.37.112c-.013,0-.026.012-.04.012h0c-.014,0-.027-.012-.04-.012a.773.773,0,0,1-.37-.112c-.005,0-.011,0-.015,0L2.594,4.256ZM16.451,1.8H3.423a.812.812,0,0,0-.7.432l7.217,4.71,7.216-4.71A.814.814,0,0,0,16.451,1.8Z" fill="#fff" fill-rule="evenodd"></path>
                          </svg>空室状況のお問い合わせ</a>
                  </div>
                  <div class="detail-mainfavoritebtn js-favorite">
                      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                              <path d="M11.4,6.136l5.162.877v.073L13.1,11.676l.483,5.241-.052.02L8.565,13.168,3.594,16.937l-.052-.02.483-5.241L.564,7.086V7.013l5.16-.877L8.53.93H8.6Z" fill-rule="evenodd"></path>
</svg>お気に入りに追加</a>
                  </div>
                  <div class="detail-maincontact-info">
                      <a href="#detail-contact" class="js-scroll"><img src="/hebel-rooms/common_v2/img/property/detail-check.png" alt="">取扱い代理店情報</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="detail-info js-fixed-button-hide-position">
          <ul class="detail-info-list">
              <li class="detail-info-item">
                  <dl class="cf">
                      <dt class="detail-info-dt">アクセス</dt>
                      <dd class="detail-info-desc"><p class="detail-info-accesstxt">東京地下鉄有楽町線 小竹向原駅 歩9分</p><p class="detail-info-accesstxt">東京地下鉄副都心線 小竹向原駅 歩9分</p></dd>
                  </dl>
              </li>
              <li class="detail-info-item">
                  <dl class="cf">
                      <dt class="detail-info-dt">所在地</dt>
                      <dd class="detail-info-desc detail-info-area detail-info-desc-dt3text"><span class="detail-info-areainner">
                              <span class="detail-info-address">東京都板橋区小茂根2丁目26-13</span><a href="#bukken-info-map" class="js-scroll js-tab-changeScroll"><img src="/hebel-rooms/common_v2/img/property/icons/ic-detail-info02.png" alt=""></a>
                      </span></dd>
                  </dl>
              </li>
              <li class="detail-info-item">
                  <dl class="cf">
                      <dt class="detail-info-dt">敷金/礼金</dt>
                      <dd class="detail-info-desc">
                          <span class="detail-info-deposit">1ヶ月</span><span class="detail-info-slash">/</span><span class="detail-info-gratuityfee">1ヶ月</span><span class="detail-info-depositzero">敷金<span class="txt-l-sp">0</span></span><span class="detail-info-slash">/</span><span class="detail-info-gratuityfeezero">礼金<span class="txt-l-sp">0</span></span></dd>
                  </dl>
              </li>
              <li class="detail-info-item">
                  <dl class="cf">
                      <dt class="detail-info-dt">築年月</dt>
                      <dd class="detail-info-desc detail-info-desc-dt3text">2009年9月</dd>
                  </dl>
              </li>
          </ul>
      </div>
      <div id="introLightbox"><div class="lbBanner pc"><a class="js-modal-iframe" data-fancybox-type="iframe" href="https://www.afr-web.co.jp/hebel-rooms/lightbox04/index.html"><img src="https://www.afr-web.co.jp/hebel-rooms/lightbox04/pc_banner.png" alt="母力｜子育て共感賃貸住宅"></a></div><div class="lbBanner sp"><a href="https://www.afr-web.co.jp/hebel-rooms/lightbox04/index.html/"><img src="https://www.afr-web.co.jp/hebel-rooms/lightbox04/sp_banner.png" alt="母力｜子育て共感賃貸住宅"></a></div></div>
  </div>
  <div class="detail-features-wrap js-detail-head-nav-event js-fixed-button-show-position" id="detail-features">
  <div class="detail-features">
      <h2 class="detail-box-tit sp_width">部屋の特長・こだわりの設備</h2>
      <div class="detail-thumlistwrap">
          <ul class="detail-thumlist">
              
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/a3123294505735a2ec4d63a82d61cad7_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/1f7bab3b6e01b28df1e48c95f50961b1_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="/hebel-rooms/common_v2/img/property/main_sample02.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/0003700ae19295401f2cd1eae055ef1a_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/156aba0e-5303-4961-97cd-e4aea2752f49_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/7e3e77a9-073b-4710-b727-434661c416b6_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/eabe5f12-80af-4b7d-9ef6-320ea91cc001_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/ade04101-98f6-4de2-8910-d9f2a0845526_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/e9cf4654-ed7f-45f9-9fc2-c376e4185274_property_picture_1469_small.jpg" alt=""></a>
                  </li>
                  <li class="detail-thumitem object-fit-cover-img js-detail-thumitem">
                      <a href="#property-modal-1" class="js-property-modal-btn js-img-load"><img src="http://image.rentersnet.jp/d610be1c-924b-4d27-b948-5cdff9b064d9_property_picture_1469_small.jpg" alt=""></a>
                  </li>
              <li class="detail-thumitem object-fit-cover-img">
                  <button type="button" class="js-thum-slide js-img-load">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <path d="M8,0A8,8,0,1,1,0,8,8,8,0,0,1,8,0Z" fill="none" fill-rule="evenodd"></path>
                          <path d="M7.854,7.429,2,13.846a.428.428,0,0,1-.638,0L.122,12.491a.527.527,0,0,1,0-.7L4.5,7,.122,2.2a.527.527,0,0,1,0-.7L1.358.15A.427.427,0,0,1,2,.15L7.854,6.567A.518.518,0,0,1,7.971,7,.518.518,0,0,1,7.854,7.429Z" transform="translate(4.0 1.0)" fill="#848bc9" fill-rule="evenodd"></path>
</svg>
                  </button>
              </li>
          </ul>
      </div>
      <div class="detail-features-360bnr for_sp">
          <img src="/hebel-rooms/common_v2/img/sp/property/bnr360.png" alt="360画像を見る"></div>
      <div class="detail-features-360 for_pc"></div>
      <div class="detail-features-floor for_sp">
          <h3 class="detail-features-boxtit">間取り図</h3>
          <div class="detail-features-floorimg object-fit-img">
              <img src="http://image.rentersnet.jp/1f7bab3b6e01b28df1e48c95f50961b1_property_picture_1469_small.jpg" alt="">
          </div>
      </div>
      <div class="detail-features-point">
          <h3 class="detail-features-boxtit for_sp">設備・オススメポイント</h3>
          <div class="detail-features-pointlist-wrap">
          <ul class="detail-features-pointlist">
              <li class="detail-features-pointitem detail-features-pointitem-important"><span class="txt-center">新築</span></li>
              <li class="detail-features-pointitem detail-features-pointitem-important">
                  <a href="/hebel-rooms/lightbox02/index.html/" class="js-modal-iframe" data-fancybox-type="iframe">
                      <span class="txt-center">二人暮らし</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
                  </a>
              </li>
              <li class="detail-features-pointitem detail-features-pointitem-important">
                  <a href="/hebel-rooms/lightbox03/index.html/" class="js-modal-iframe" data-fancybox-type="iframe">
                      <span class="txt-center">ペット共生</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
                  </a>
              </li>
              <li class="detail-features-pointitem detail-features-pointitem-important">
                  <a href="/hebel-rooms/lightbox04/index.html/" class="js-modal-iframe" data-fancybox-type="iframe">
                      <span class="txt-center">子育て賃貸</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
                  </a>
              </li>
              <li class="detail-features-pointitem detail-features-pointitem-important js-infomodal" data-pointmodal="infomodal-womenonly">
                  <span class="txt-center">女性専用</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
              </li>
              <li class="detail-features-pointitem detail-features-pointitem-important">
                  <a href="/hebel-rooms/lightbox05/index.html/" class="js-modal-iframe" data-fancybox-type="iframe">
                      <span class="txt-center">間取変更可</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
                  </a>
              </li>
              <li class="detail-features-pointitem detail-features-pointitem-important"><span class="txt-center">分譲マンション</span></li>
              <li class="detail-features-pointitem detail-features-pointitem-important js-infomodal" data-pointmodal="infomodal-highgrade">
                  <span class="txt-center">ハイグレード<br>仕様</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
              </li>
              <li class="detail-features-pointitem"><span class="txt-center">ウォークイン<br>クローゼット</span></li>
              <li class="detail-features-pointitem js-infomodal" data-pointmodal="infomodal-acceptance">
                  <span class="txt-center">24時間<br>受付サービス</span><img src="/hebel-rooms/common_v2/img/property/ic-question.svg" alt="" class="question">
              </li>
              <li class="detail-features-pointitem"><span class="txt-center">2階以上</span></li>
              <li class="detail-features-pointitem"><span class="txt-center">宅配BOX</span></li>
              <li class="detail-features-pointitem"><span class="txt-center">バス・トイレ別</span></li>
              <li class="detail-features-pointitem"><span class="txt-center">エアコン</span></li>
              <li class="detail-features-pointitem"><span class="txt-center">浴室乾燥機</span></li>
              <li class="detail-features-pointitem"><span class="txt-center">駐車場</span></li>
          </ul>
          <p class="detail-features-point-attention">※「駐車場」の空き状況・使用料については、別途お問い合わせください </p>
              <div class="detail-features-pointmodalwrap" id="infomodal-womenonly">
                  <dl class="detail-features-pointmodal">
                      <dt class="detail-features-pointmodaltit">女性専用</dt>
                      <dd class="detail-features-pointmodaldesc">夜に安心して帰れる立地、ぬくもりを感じるラウンジ、防犯や災害時の対策。ひとり暮らしの女性が「本当の安心」を感じる賃貸住宅。</dd>
                      <dd class="detail-features-pointmodalclose">
                          <button class="js-infomodalclose">閉じる</button>
                      </dd>
                  </dl>
                  <div class="detail-features-pointmodalback js-infomodalclose"></div>
              </div>
              <div class="detail-features-pointmodalwrap" id="infomodal-floorplanchange">
                  <dl class="detail-features-pointmodal">
                      <dt class="detail-features-pointmodaltit">間取変更可</dt>
                      <dd class="detail-features-pointmodaldesc">ライフスタイルにあわせまどりが変更できる「可変型賃貸住宅」。</dd>
                      <dd class="detail-features-pointmodalclose">
                          <button class="js-infomodalclose">閉じる</button>
                      </dd>
                  </dl>
                  <div class="detail-features-pointmodalback js-infomodalclose"></div>
              </div>
              <div class="detail-features-pointmodalwrap" id="infomodal-highgrade">
                  <dl class="detail-features-pointmodal">
                      <dt class="detail-features-pointmodaltit">ハイグレード仕様</dt>
                      <dd class="detail-features-pointmodaldesc">外観・インテリア・設備など全てにおいて上質性と機能性を兼ね備えたハイグレード仕様の賃貸。</dd>
                      <dd class="detail-features-pointmodalclose">
                          <button class="js-infomodalclose">閉じる</button>
                      </dd>
                  </dl>
                  <div class="detail-features-pointmodalback js-infomodalclose"></div>
              </div>
              <div class="detail-features-pointmodalwrap" id="infomodal-acceptance">
                  <dl class="detail-features-pointmodal">
                      <dt class="detail-features-pointmodaltit">24時間受付サービス</dt>
                      <dd class="detail-features-pointmodaldesc">設備の故障や修理に関するご相談をフリーダイヤルで「24時間」受付。</dd>
                      <dd class="detail-features-pointmodalclose">
                          <button class="js-infomodalclose">閉じる</button>
                      </dd>
                  </dl>
                  <div class="detail-features-pointmodalback js-infomodalclose"></div>
              </div>
          </div>
          <div class="detail-features-pointtxtlist-wrap">
          <dl class="detail-features-pointtxtlist detail-features-pointtxtlist-top">
             <dt class="detail-features-pointtxtlist-dt">室内設備</dt>
              <dd class="detail-features-pointtxtlist-dd">無料Wi-Fi／無料インターネット／テレビドアフォン／フローリング／2口以上コンロ／間仕切り収納／ウォークインクローゼット</dd>
          </dl>
              <div class="detail-features-pointtxtlist-inner">
          <dl class="detail-features-pointtxtlist">
              <dt class="detail-features-pointtxtlist-dt">バス・トイレ</dt>
              <dd class="detail-features-pointtxtlist-dd">独立洗面台／シャンプードレッサー／追炊き／浴室乾燥機／温水洗浄便座</dd>
          </dl>
          <dl class="detail-features-pointtxtlist">
              <dt class="detail-features-pointtxtlist-dt">その他特長</dt>
              <dd class="detail-features-pointtxtlist-dd">駅近／即入居可／フリーレント</dd>
          </dl>
              </div>
          </div>
      </div>
      <div class="detail-comment">
          <p class="detail-comment-balloon">
              <picture>
                  <source media="(min-width: 740px)" srcset="/hebel-rooms/common_v2/img/property/ic-comment_pc.png">
                  <source media="(max-width: 739px)" srcset="/hebel-rooms/common_v2/img/sp/property/ic-comment_sp.png">
                  <img src="/hebel-rooms/common_v2/img/property/ic-comment_pc.png" alt="STAFF COMMENT">
              </picture>
          </p>
          <p class="detail-comment-txt">
              <span class="detail-comment-txtinner js-txt-height">駅徒歩5分、人気のJR中央沿線物件。ハイグレードな設備、セキュリティ等の分譲マンション賃貸住戸。12階 WIC付、2LDK。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。ダミーです、こちらに物件に関するスタッフコメントが入ります。</span>
          </p>
          <button type="button" class="detail-comment-btn js-comment-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6">
                  <path d="M9.913,1.5,5.323,5.907a.343.343,0,0,1-.308.075.342.342,0,0,1-.308-.075L.118,1.5a.331.331,0,0,1,0-.48L1.087.089a.364.364,0,0,1,.5,0L5.015,3.383,8.444.089a.364.364,0,0,1,.5,0l.969.931A.331.331,0,0,1,9.913,1.5Z" fill="#656ebb" fill-rule="evenodd"></path>
              </svg>
              <span class="detail-comment-btntxt">もっとよむ</span>
          </button>
      </div>
  </div>
  </div>
</div>
<div class="detail-button-area">
      <p class="detail-button-top-text">この物件について問い合わせる、<br class="for_sp">お気に入りに追加する</p>
      <div class="detail-button-wrap">
          <div class="detail-button-favorite detail-button js-favorite">
              <a href="#">
                  <span class="detail-button-inner">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill-rule:evenodd;}</style></defs>
<path class="a" d="M10.84,5.21,16,6.08v.08l-3.46,4.59L13,16l0,0L8,12.24,3,16l0,0,.48-5.24L0,6.16V6.08l5.16-.87L8,0H8Z"></path>
</svg>
                      <span class="for_pc">お気に入り</span>
                  </span>
              </a>
          </div>
          <div class="detail-button-tel-wrap">
              <div class="detail-button-tel detail-button">
                  <div class="detail-button-tel-inner">
                      <div class="detail-button-inner js-tel" data-telno="0368597377">
                          <p class="detail-button-lead">お電話</p>
                          <p class="detail-button-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
<path d="M13.48,5.912a.669.669,0,0,1-.645-.692,3.834,3.834,0,0,0-1.062-2.685A3.351,3.351,0,0,0,9.252,1.379.67.67,0,0,1,8.607.688.669.669,0,0,1,9.252,0a4.583,4.583,0,0,1,3.433,1.561,5.236,5.236,0,0,1,1.44,3.662A.669.669,0,0,1,13.48,5.912Zm-1.964.5a.646.646,0,1,1-1.289,0,2.249,2.249,0,0,0-.608-1.555,2.012,2.012,0,0,0-1.477-.679A.669.669,0,0,1,7.5,3.484a.67.67,0,0,1,.645-.691,3.237,3.237,0,0,1,2.375,1.071A3.642,3.642,0,0,1,11.516,6.41ZM8.32,9.717c.209-.218.413-.429.6-.654A1.516,1.516,0,0,1,11.3,9.038c.359.362.716.754,1.069,1.139l.491.534a1.8,1.8,0,0,1,.015,2.47l-.353.372c-.207.215-.41.425-.6.65a2.321,2.321,0,0,1-1.83.8,5.3,5.3,0,0,1-1.933-.451A12.965,12.965,0,0,1,3.578,11.3,14.055,14.055,0,0,1,.549,6.393C.313,5.716-.409,3.652.828,2.376c.168-.165.325-.334.481-.5.174-.187.348-.373.521-.543a1.487,1.487,0,0,1,2.284.006l.519.55c.358.376.72.756,1.069,1.152A1.723,1.723,0,0,1,5.69,5.515c-.159.171-.311.342-.462.511l-.209.233A5.8,5.8,0,0,0,6.315,8.3s.034.036.034.036l.032.034a5.391,5.391,0,0,0,1.9,1.39ZM5.468,9.342l.425-.521L5.4,9.274A7.215,7.215,0,0,1,3.662,6.306.728.728,0,0,1,3.818,5.6c.164-.173.32-.349.477-.525s.316-.355.482-.533c.2-.213.2-.321,0-.535-.35-.4-.7-.765-1.047-1.128l-.512-.541a.393.393,0,0,0-.261-.151c-.087,0-.157.064-.237.15-.181.178-.34.348-.5.519s-.341.365-.512.531c-.4.415-.39,1.27.049,2.526a12.655,12.655,0,0,0,2.731,4.415,11.722,11.722,0,0,0,4.117,2.927c1.187.476,1.959.481,2.363.016.2-.24.426-.472.653-.708l.322-.338c.174-.2.174-.334-.015-.55l-.484-.526c-.341-.374-.687-.752-1.046-1.117-.21-.224-.344-.225-.542-.012s-.411.454-.64.692l-.32.336a.613.613,0,0,1-.659.167A6.642,6.642,0,0,1,5.468,9.342Z" fill="#fff" fill-rule="evenodd"></path>
</svg><span class="detail-button-num">03-6859-7337</span></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="detail-button-contact detail-button">
              <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                  <div class="detail-button-inner">
                  <p class="detail-button-lead">簡単1分</p>
                  <p class="detail-button-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16"><defs><style>.a{fill:#fff;fill-rule:evenodd;}</style></defs>
<path class="a" d="M18,13.33A2.58,2.58,0,0,1,15.52,16h-13A2.58,2.58,0,0,1,0,13.33V2.66s0-.06,0-.1v0A2.57,2.57,0,0,1,2.49,0h13A2.57,2.57,0,0,1,18,2.53v0s0,.06,0,.09Zm-16.34,0a.84.84,0,0,0,.83.86h13a.84.84,0,0,0,.82-.86V4.26L9.43,8.77h0A.7.7,0,0,1,9,8.88l0,0H9l0,0a.72.72,0,0,1-.37-.11h0L1.66,4.26ZM15.52,1.8h-13a.81.81,0,0,0-.7.43L9,6.94l7.22-4.71A.83.83,0,0,0,15.52,1.8Z"></path>
</svg><span class="detail-button-contact-text">Webから問い合わせる</span></p>
                      </div>
              </a>
          </div>
          <p class="detail-button-link"><img src="/hebel-rooms/common_v2/img/property/detail-check.png" alt=""><a href="#detail-contact" class="js-scroll">取扱い代理店情報</a></p>
      </div>
</div>
<div class="bukken-info">
  <div class="bukken-info-detail js-detail-head-nav-event" id="bukken-info">
      <h2 class="detail-box-tit">物件詳細</h2>
      <dl class="bukken-info-detail-content">
          <div class="bukken-info-detail-content-inner bukken-info-detail-content-width">
              <dt class="bukken-info-detail-dt">ブランド</dt>
              <dd class="bukken-info-detail-dd">
                  <div class="bukken-info-detail-dd-inner">
                  <a href="#" class="bukken-info-detail-link" target="_blank">ヘーベルメゾン母力 BORIKI
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24.002" viewBox="0 0 28 24.002">
<path d="M21.28,17.142H28V0H5.6V6.856H7.84V2.284H25.76v12.57H21.28ZM0,6.875H21.281V24H0ZM2.25,9.124H19.031V21.718H2.25Z" fill="#656ebb" fill-rule="evenodd"></path>
                      </svg>
                  </a>
                  <a href="#" class="bukken-info-detail-link" target="_blank">共働き夫婦二人の賃貸住宅　fufu（フフ）
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24.002" viewBox="0 0 28 24.002">
<path d="M21.28,17.142H28V0H5.6V6.856H7.84V2.284H25.76v12.57H21.28ZM0,6.875H21.281V24H0ZM2.25,9.124H19.031V21.718H2.25Z" fill="#656ebb" fill-rule="evenodd"></path>
                      </svg>
                  </a>
                  </div>
              </dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">物件種別</dt>
              <dd class="bukken-info-detail-dd">マンション</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">階数・総戸数</dt>
              <dd class="bukken-info-detail-dd">3階建て・9戸</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">専有面積</dt>
              <dd class="bukken-info-detail-dd">126.65m<sup>2</sup></dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">築年数</dt>
              <dd class="bukken-info-detail-dd">9年</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">入居時期</dt>
              <dd class="bukken-info-detail-dd">2018年10月中旬</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">向き</dt>
              <dd class="bukken-info-detail-dd">東向き</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">駐車場</dt>
              <dd class="bukken-info-detail-dd">無</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">構造</dt>
              <dd class="bukken-info-detail-dd">ALC造</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">取引形態</dt>
              <dd class="bukken-info-detail-dd">仲介</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">損保</dt>
              <dd class="bukken-info-detail-dd">要</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">定期借家権<br>契約</dt>
              <dd class="bukken-info-detail-dd">無</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">定期借家権<br>契約期間</dt>
              <dd class="bukken-info-detail-dd">-</dd>
          </div>
          <div class="bukken-info-detail-content-inner bukken-info-detail-content-width">
              <dt class="bukken-info-detail-dt ">入居条件</dt>
              <dd class="bukken-info-detail-dd">ルームシェア可</dd>
          </div>
          <div class="bukken-info-detail-content-inner bukken-info-detail-content-width">
              <dt class="bukken-info-detail-dt">設備</dt>
              <dd class="bukken-info-detail-dd">給湯／バストイレ別／浴室乾燥機／シャンプードレッサー／フローリング／ペアガラス／TVモニター付ドアホン／オートロック／駐輪場／BS</dd>
          </div>
          <div class="bukken-info-detail-content-inner bukken-info-detail-content-width">
              <dt class="bukken-info-detail-dt">保証人代行</dt>
              <dd class="bukken-info-detail-dd">保証人代行必須(保証料:賃料+共益費等の50%､継続保証料:2万円/2年)</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">その他費用</dt>
              <dd class="bukken-info-detail-dd">Ｍｙ Ｃｏｎｃｉｅｒ Ｃｌｕｂ会費　12,000円</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">鍵交換費用</dt>
              <dd class="bukken-info-detail-dd">16,200円</dd>
          </div>
          <div class="bukken-info-detail-content-inner bukken-info-detail-content-width">
              <dt class="bukken-info-detail-dt">備考</dt>
              <dd class="bukken-info-detail-dd">コンビニ：ファミリーマート小茂根二丁目店　218m</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">情報更新日</dt>
              <dd class="bukken-info-detail-dd">2018-10-09</dd>
          </div>
          <div class="bukken-info-detail-content-inner">
              <dt class="bukken-info-detail-dt">次回更新<br class="for_sp">予定日</dt>
              <dd class="bukken-info-detail-dd">2018-10-16</dd>
          </div>
      </dl>
      <div class="bukken-info-attention">
          <p class="bukken-info-attention-txt">※指定の仲介会社を通じてお申込みいただきます。所定の仲介手数料がかかります。</p>
          <p class="bukken-info-attention-txt">※掲載写真・間取図・設備情報等と現況に差異がある</p>
      </div>
  </div>
  <div class="bukken-info-map-area js-detail-head-nav-event" id="bukken-info-map">
      <h2 class="detail-box-tit">周辺地図</h2>
      <div class="bukken-info-map">MAP</div>
      <div class="bukken-info-attention">
          <p class="bukken-info-attention-txt">※地図上に表示されるアイコンは、付近住所に所在することを表すものであり、実際の所在地とは異なる場合がございます。</p>
      </div>
      <div class="bukken-info-map-area-btn for_sp"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<path d="M4.55,27.735c-.021,0-.04,0-.06,0a.6.6,0,0,1-.579-.545,3.579,3.579,0,0,1-.015-.359c0-.069,0-.138,0-.211a4.251,4.251,0,0,1,.131-.849.58.58,0,0,1,.712-.425.61.61,0,0,1,.413.74,2.962,2.962,0,0,0-.091.593c0,.052-.006.1-.006.152a2.038,2.038,0,0,0,.012.234A.6.6,0,0,1,4.55,27.735ZM6.978,24.4a.848.848,0,0,0-.236,0,1.377,1.377,0,0,0-.531.176.571.571,0,0,1-.789-.245.614.614,0,0,1,.232-.817,2.536,2.536,0,0,1,.958-.316,2.037,2.037,0,0,1,.517.006.6.6,0,0,1,.5.676A.582.582,0,0,1,6.978,24.4Zm.207,5.05a4.327,4.327,0,0,1-.545.038,3.685,3.685,0,0,1-.446-.03,2.785,2.785,0,0,1-.381-.074.6.6,0,0,1-.417-.738A.58.58,0,0,1,6.1,28.21a2.017,2.017,0,0,0,.229.046,2.843,2.843,0,0,0,.708-.008.585.585,0,0,1,.65.522A.6.6,0,0,1,7.185,29.446ZM27.14,18.874a.6.6,0,0,1,.344-.774.573.573,0,0,1,.747.355,2.519,2.519,0,0,1,.147.837c0,.053,0,.1-.005.151a2.5,2.5,0,0,1-.1.582.585.585,0,0,1-.557.427.531.531,0,0,1-.17-.028.605.605,0,0,1-.383-.754,1.453,1.453,0,0,0,.056-.306v-.072A1.263,1.263,0,0,0,27.14,18.874ZM25.229,21.69a1.972,1.972,0,0,0,.784-.319.59.59,0,0,1,.835.092.6.6,0,0,1-.08.831c-.033.027-.065.05-.1.076a3.1,3.1,0,0,1-1.2.5.676.676,0,0,1-.119.012.585.585,0,0,1-.568-.481A.6.6,0,0,1,25.229,21.69Zm-1.02-4.158a.608.608,0,0,1,.4-.745A3.326,3.326,0,0,1,26,16.678a.6.6,0,0,1,.5.681.581.581,0,0,1-.656.515,2.2,2.2,0,0,0-.914.075.485.485,0,0,1-.159.022A.589.589,0,0,1,24.209,17.532ZM0,32.5l2.272-18.72H8.6a.6.6,0,0,1,0,1.205H3.3L1.317,31.3H30.7L29.021,14.987H23.727a.6.6,0,0,1,0-1.205h6.339L32,32.5ZM23,21.9a.583.583,0,0,1,.608.572.6.6,0,0,1-.557.634l-1.165.051h-.022a.606.606,0,0,1-.026-1.209Zm-3.527.228a.577.577,0,0,1,.647.526.6.6,0,0,1-.506.672c-.386.05-.755.115-1.095.188a.646.646,0,0,1-.123.015.585.585,0,0,1-.568-.478.607.607,0,0,1,.446-.719C18.654,22.247,19.057,22.179,19.478,22.126Zm-5.616,3.347a.618.618,0,0,1-.113.845c-.321.252-.653.493-.985.718a.571.571,0,0,1-.807-.178.622.622,0,0,1,.173-.837c.309-.208.619-.434.917-.666A.571.571,0,0,1,13.862,25.473ZM10.94,27.448a.613.613,0,0,1-.278.8c-.367.18-.739.345-1.108.5a.608.608,0,0,1-.208.039A.587.587,0,0,1,8.8,28.4a.612.612,0,0,1,.335-.781c.344-.14.691-.292,1.031-.462A.572.572,0,0,1,10.94,27.448Zm5.811-4c-.006.007-.012.009-.017.016a.6.6,0,0,1-.27.765,6.275,6.275,0,0,0-.588.348c-.107.074-.216.153-.32.231a.548.548,0,0,1-.341.115.578.578,0,0,1-.472-.248.624.624,0,0,1,.128-.844c.122-.092.247-.178.372-.265.082-.055.176-.1.261-.156A27.46,27.46,0,0,1,9.471,10.736a12.89,12.89,0,0,1-.2-4.179c.5-3.97,2.877-6.07,6.87-6.07s6.371,2.1,6.873,6.07a12.9,12.9,0,0,1-.2,4.179A27.4,27.4,0,0,1,16.751,23.453ZM16.143,3.045a4.359,4.359,0,0,0-4.271,4.434,4.36,4.36,0,0,0,4.271,4.437,4.362,4.362,0,0,0,4.275-4.437A4.36,4.36,0,0,0,16.143,3.045Z" fill="#fff" fill-rule="evenodd"></path>
</svg>大きな地図でみる</a></div>
  </div>
</div>
<div class="detail-button-area">
      <p class="detail-button-top-text">この物件について問い合わせる、<br class="for_sp">お気に入りに追加する</p>
      <div class="detail-button-wrap">
          <div class="detail-button-favorite detail-button js-favorite">
              <a href="#">
                  <span class="detail-button-inner">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill-rule:evenodd;}</style></defs>
<path class="a" d="M10.84,5.21,16,6.08v.08l-3.46,4.59L13,16l0,0L8,12.24,3,16l0,0,.48-5.24L0,6.16V6.08l5.16-.87L8,0H8Z"></path>
</svg>
                      <span class="for_pc">お気に入り</span>
                  </span>
              </a>
          </div>
          <div class="detail-button-tel-wrap">
              <div class="detail-button-tel detail-button">
                  <div class="detail-button-tel-inner">
                      <div class="detail-button-inner js-tel" data-telno="0368597377">
                          <p class="detail-button-lead">お電話</p>
                          <p class="detail-button-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
<path d="M13.48,5.912a.669.669,0,0,1-.645-.692,3.834,3.834,0,0,0-1.062-2.685A3.351,3.351,0,0,0,9.252,1.379.67.67,0,0,1,8.607.688.669.669,0,0,1,9.252,0a4.583,4.583,0,0,1,3.433,1.561,5.236,5.236,0,0,1,1.44,3.662A.669.669,0,0,1,13.48,5.912Zm-1.964.5a.646.646,0,1,1-1.289,0,2.249,2.249,0,0,0-.608-1.555,2.012,2.012,0,0,0-1.477-.679A.669.669,0,0,1,7.5,3.484a.67.67,0,0,1,.645-.691,3.237,3.237,0,0,1,2.375,1.071A3.642,3.642,0,0,1,11.516,6.41ZM8.32,9.717c.209-.218.413-.429.6-.654A1.516,1.516,0,0,1,11.3,9.038c.359.362.716.754,1.069,1.139l.491.534a1.8,1.8,0,0,1,.015,2.47l-.353.372c-.207.215-.41.425-.6.65a2.321,2.321,0,0,1-1.83.8,5.3,5.3,0,0,1-1.933-.451A12.965,12.965,0,0,1,3.578,11.3,14.055,14.055,0,0,1,.549,6.393C.313,5.716-.409,3.652.828,2.376c.168-.165.325-.334.481-.5.174-.187.348-.373.521-.543a1.487,1.487,0,0,1,2.284.006l.519.55c.358.376.72.756,1.069,1.152A1.723,1.723,0,0,1,5.69,5.515c-.159.171-.311.342-.462.511l-.209.233A5.8,5.8,0,0,0,6.315,8.3s.034.036.034.036l.032.034a5.391,5.391,0,0,0,1.9,1.39ZM5.468,9.342l.425-.521L5.4,9.274A7.215,7.215,0,0,1,3.662,6.306.728.728,0,0,1,3.818,5.6c.164-.173.32-.349.477-.525s.316-.355.482-.533c.2-.213.2-.321,0-.535-.35-.4-.7-.765-1.047-1.128l-.512-.541a.393.393,0,0,0-.261-.151c-.087,0-.157.064-.237.15-.181.178-.34.348-.5.519s-.341.365-.512.531c-.4.415-.39,1.27.049,2.526a12.655,12.655,0,0,0,2.731,4.415,11.722,11.722,0,0,0,4.117,2.927c1.187.476,1.959.481,2.363.016.2-.24.426-.472.653-.708l.322-.338c.174-.2.174-.334-.015-.55l-.484-.526c-.341-.374-.687-.752-1.046-1.117-.21-.224-.344-.225-.542-.012s-.411.454-.64.692l-.32.336a.613.613,0,0,1-.659.167A6.642,6.642,0,0,1,5.468,9.342Z" fill="#fff" fill-rule="evenodd"></path>
</svg><span class="detail-button-num">03-6859-7337</span></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="detail-button-contact detail-button">
              <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                  <div class="detail-button-inner">
                  <p class="detail-button-lead">簡単1分</p>
                  <p class="detail-button-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16"><defs><style>.a{fill:#fff;fill-rule:evenodd;}</style></defs>
<path class="a" d="M18,13.33A2.58,2.58,0,0,1,15.52,16h-13A2.58,2.58,0,0,1,0,13.33V2.66s0-.06,0-.1v0A2.57,2.57,0,0,1,2.49,0h13A2.57,2.57,0,0,1,18,2.53v0s0,.06,0,.09Zm-16.34,0a.84.84,0,0,0,.83.86h13a.84.84,0,0,0,.82-.86V4.26L9.43,8.77h0A.7.7,0,0,1,9,8.88l0,0H9l0,0a.72.72,0,0,1-.37-.11h0L1.66,4.26ZM15.52,1.8h-13a.81.81,0,0,0-.7.43L9,6.94l7.22-4.71A.83.83,0,0,0,15.52,1.8Z"></path>
</svg><span class="detail-button-contact-text">Webから問い合わせる</span></p>
                      </div>
              </a>
          </div>
          <p class="detail-button-link"><img src="/hebel-rooms/common_v2/img/property/detail-check.png" alt=""><a href="#detail-contact" class="js-scroll">取扱い代理店情報</a></p>
      </div>
</div>
<div class="otherroom-wrap js-detail-head-nav-event" id="detail-nav-item-remove-point">
<div class="otherroom">
  <div class="otherroom-pricearea">
      <div class="otherroom-pricetxtarea">
          <p class="otherroom-pricelogo"><img alt="わかりやすい くらべやすい めやす賃料表示" src="/hebel-rooms/common_v2/img/property/logo-price.jpg"></p>
          <p class="otherroom-price"><span class="otherroom-pricetxt">この物件のめやす賃料は</span><br class="for_iphone5"><span class="otherroom-priceno">296,875<span class="otherroom-priceno-value">円</span></span></p>
      </div>
          <div class="otherroom-pricesummary">
              <p class="otherroom-pricesummarytxt">めやす賃料表示は、「わかりやすい、くらべやすい」を合言葉に、全国一律に同じ基準で計算された賃料等の金額を表示するものです。地域の商習慣により賃料体系は異なる場合がありますが、地域間の移動者に対しても適切な情報を提供することができます。</p>
              <button class="otherroom-pricesummarybtn js-accordion"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6">
<path d="M9.913,1.5,5.323,5.907a.343.343,0,0,1-.308.075.342.342,0,0,1-.308-.075L.118,1.5a.331.331,0,0,1,0-.48L1.087.089a.364.364,0,0,1,.5,0L5.015,3.383,8.444.089a.364.364,0,0,1,.5,0l.969.931A.331.331,0,0,1,9.913,1.5Z" fill="#656ebb" fill-rule="evenodd"></path>
                  </svg><span class="otherroom-pricesummarybtn-txt">めやす賃料について詳しくよむ</span></button>
          </div>
  </div>
  <div class="otherroom-roomlistwrap">
  <p class="otherroom-roomlistwrap-caption">同じ建物の空室一覧</p>
  <div class="swiper-container otherroom-roomlistinner">
  <ul class="otherroom-roomlist swiper-wrapper">
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
      <li class="otherroom-roomitem object-fit-img swiper-slide">
          <a href="#">
              <div class="otherroom-roomitem-img">
          <img src="http://image.rentersnet.jp/49d7773f0d275bc48466dcb9bd1ae09f_property_picture_1469_large.jpg" alt="">
              </div>
              <p class="otherroom-roomitem-no">0102号室</p>
              <p class="otherroom-roomitem-detail01"><span class="color-pink">家賃17.5万円</span>/<span class="color-pink">共益費1万円</span></p>
              <p class="otherroom-roomitem-detail02">4階/1SLDK/50.05m<sup>2</sup></p>
          </a>
      </li>
      
  </ul>
      <div class="swiper-pagination"></div>
  </div>
  </div>
</div>
  <div class="detail-similar-bukken">
  <h2 class="detail-box-tit">周辺物件をみる</h2>
      <ul class="detail-similar-bukken-switch-list js-switch-btn-list">
          <li class="detail-similar-bukken-switch-item">
              <button class="active js-gaikan">外観</button>
          </li>
          <li class="detail-similar-bukken-switch-item">
              <button class="js-madori">間取り</button>
          </li>
      </ul>
      <div class="detail-similar-bukken-list-wrap">
          <ul class="detail-similar-bukken-list js-detail-similar-bukken-list">
          <li class="detail-similar-bukken-item">
              <a href="#">
                  <div class="detail-similar-bukken-img">
                      <span class="detail-similar-bukken-gaikan detail-similar-bukken-show js-gaikan-img"><img src="https://image.rentersnet.jp/26526c691d28a6afdabd778b175405f7_property_picture_1469_large.jpg" alt=""></span>
                      <span class="detail-similar-bukken-madori js-madori-img"><img src="https://image.rentersnet.jp/e2f9e6c8-77f0-4c9a-a2e5-7ea01a42a9d8_property_picture_1469_large.jpg" alt=""></span>
                  </div>
                  <div class="detail-similar-bukken-txt">
                  <p class="detail-similar-bukken-txt01"><span class="color-pink">家賃65.4万円</span>/<span class="color-pink">共益費1.5万円</span></p>
                  <p class="detail-similar-bukken-txt02">5階/3SLDK/115.77m<sup>2</sup></p>
                  <p class="detail-similar-bukken-txt03">東京都 新宿区</p>
                  <p class="detail-similar-bukken-txt04">丸の内線 四ツ谷駅 歩5分</p>
                  </div>
              </a>
          </li>
          <li class="detail-similar-bukken-item">
              <a href="#">
                  <div class="detail-similar-bukken-img">
                      <span class="detail-similar-bukken-gaikan detail-similar-bukken-show js-gaikan-img">
                          <img src="https://image.rentersnet.jp/107d424b-4c4b-48bb-b582-1c539a22ead6_property_picture_1469_large.jpg" alt="">
                      </span>
                      <span class="detail-similar-bukken-madori js-madori-img">
                          <img src="https://image.rentersnet.jp/82454879335ebc7c0b6e6b21232569cd_property_picture_1469_large.jpg" alt="">
                      </span>
                  </div>
                  <div class="detail-similar-bukken-txt">
                      <p class="detail-similar-bukken-txt01"><span class="color-pink">家賃65.4万円</span>/<span class="color-pink">共益費1.5万円</span></p>
                      <p class="detail-similar-bukken-txt02">5階/3SLDK/115.77m<sup>2</sup></p>
                      <p class="detail-similar-bukken-txt03">東京都 新宿区</p>
                      <p class="detail-similar-bukken-txt04">丸の内線 四ツ谷駅 歩5分</p>
                      <p class="detail-similar-bukken-txt04">丸の内線 四ツ谷駅 歩5分</p>
                  </div>
              </a>
          </li>
          <li class="detail-similar-bukken-item">
              <a href="#">
                  <div class="detail-similar-bukken-img">
                      <span class="detail-similar-bukken-gaikan detail-similar-bukken-show js-gaikan-img">
                          <img src="https://image.rentersnet.jp/72f79b3f-e560-4175-ab25-fdc24158cc9d_property_picture_1469_large.jpg" alt="">
                      </span>
                      <span class="detail-similar-bukken-madori js-madori-img">
                          <img src="https://image.rentersnet.jp/9c187b64-58d7-4baf-987b-fb2fb5030940_property_picture_1469_large.jpg" alt="">
                      </span>
                  </div>
                  <div class="detail-similar-bukken-txt">
                      <p class="detail-similar-bukken-txt01"><span class="color-pink">家賃65.4万円</span>/<span class="color-pink">共益費1.5万円</span></p>
                      <p class="detail-similar-bukken-txt02">5階/3SLDK/115.77m<sup>2</sup></p>
                      <p class="detail-similar-bukken-txt03">東京都 新宿区</p>
                      <p class="detail-similar-bukken-txt04">丸の内線 四ツ谷駅 歩5分</p>
                  </div>
              </a>
          </li>
      </ul>
      </div>
      <p class="detail-similar-bukken-btn"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
<path d="M15.56,15.559a1.5,1.5,0,0,1-2.121,0L9.768,11.888A7.06,7.06,0,0,0,11.89,9.767l3.67,3.67A1.5,1.5,0,0,1,15.56,15.559ZM6,12a6,6,0,1,1,6-6A6,6,0,0,1,6,12ZM6,1.5A4.5,4.5,0,1,0,10.5,6,4.5,4.5,0,0,0,6,1.5Z" fill="#848bc9" fill-rule="evenodd"></path>
</svg>
              検索結果一覧をみる</a></p>
  </div>
</div>
<div class="detail-area-search-wrap">
  <h2 class="detail-box-tit detail-area-search-tit">周辺沿線・駅から探す</h2>
  <div class="detail-area-search">
      <div class="detail-area-search-list-wrap">
      <dl class="detail-area-search-list">
          <dt class="detail-area-search-dt">最寄りの沿線</dt>
          <div class="detail-area-search-list-inner">
          <dd class="detail-area-search-dd"><a href="">新交通ゆりかもめ</a></dd>
          <dd class="detail-area-search-dd"><a href="">小田急小田原線</a></dd>
          </div>
      </dl>
      <dl class="detail-area-search-list">
          <dt class="detail-area-search-dt">最寄りの駅</dt>
          <div class="detail-area-search-list-inner">
          <dd class="detail-area-search-dd"><a href="">台場<span class="detail-area-search-num">(11)</span></a></dd>
          <dd class="detail-area-search-dd"><a href="">代々木上原<span class="detail-area-search-num">(11)</span></a></dd>
          </div>
      </dl>
      <dl class="detail-area-search-list">
          <dt class="detail-area-search-dt">同じ都府県</dt>
          <div class="detail-area-search-list-inner">
          <dd class="detail-area-search-dd"><a href="">東京</a></dd>
          </div>
      </dl>
      </div>
  </div>
</div>
<div class="detail-contact-wrap">
<div class="detail-contact" id="detail-contact">
<h2 class="detail-box-tit">お問い合わせ先</h2>
  <p class="detail-contact-shop">旭化成不動産サポート（株）<br class="for_sp">ヘーベルメゾン 新宿店</p>
<p class="detail-contact-traffic">交通：ＪＲ中央線/新宿 徒歩4分</p>
  <ul class="detail-button-wrap contact-detail-button-wrap">
      <li class="detail-button-tel-wrap">
          <div class="detail-button-tel detail-button">
              <div class="detail-button-tel-inner">
                  <div class="detail-button-inner js-tel" data-telno="0368597377">
                      <p class="detail-button-lead">お電話</p>
                      <p class="detail-button-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
                              <path d="M13.48,5.912a.669.669,0,0,1-.645-.692,3.834,3.834,0,0,0-1.062-2.685A3.351,3.351,0,0,0,9.252,1.379.67.67,0,0,1,8.607.688.669.669,0,0,1,9.252,0a4.583,4.583,0,0,1,3.433,1.561,5.236,5.236,0,0,1,1.44,3.662A.669.669,0,0,1,13.48,5.912Zm-1.964.5a.646.646,0,1,1-1.289,0,2.249,2.249,0,0,0-.608-1.555,2.012,2.012,0,0,0-1.477-.679A.669.669,0,0,1,7.5,3.484a.67.67,0,0,1,.645-.691,3.237,3.237,0,0,1,2.375,1.071A3.642,3.642,0,0,1,11.516,6.41ZM8.32,9.717c.209-.218.413-.429.6-.654A1.516,1.516,0,0,1,11.3,9.038c.359.362.716.754,1.069,1.139l.491.534a1.8,1.8,0,0,1,.015,2.47l-.353.372c-.207.215-.41.425-.6.65a2.321,2.321,0,0,1-1.83.8,5.3,5.3,0,0,1-1.933-.451A12.965,12.965,0,0,1,3.578,11.3,14.055,14.055,0,0,1,.549,6.393C.313,5.716-.409,3.652.828,2.376c.168-.165.325-.334.481-.5.174-.187.348-.373.521-.543a1.487,1.487,0,0,1,2.284.006l.519.55c.358.376.72.756,1.069,1.152A1.723,1.723,0,0,1,5.69,5.515c-.159.171-.311.342-.462.511l-.209.233A5.8,5.8,0,0,0,6.315,8.3s.034.036.034.036l.032.034a5.391,5.391,0,0,0,1.9,1.39ZM5.468,9.342l.425-.521L5.4,9.274A7.215,7.215,0,0,1,3.662,6.306.728.728,0,0,1,3.818,5.6c.164-.173.32-.349.477-.525s.316-.355.482-.533c.2-.213.2-.321,0-.535-.35-.4-.7-.765-1.047-1.128l-.512-.541a.393.393,0,0,0-.261-.151c-.087,0-.157.064-.237.15-.181.178-.34.348-.5.519s-.341.365-.512.531c-.4.415-.39,1.27.049,2.526a12.655,12.655,0,0,0,2.731,4.415,11.722,11.722,0,0,0,4.117,2.927c1.187.476,1.959.481,2.363.016.2-.24.426-.472.653-.708l.322-.338c.174-.2.174-.334-.015-.55l-.484-.526c-.341-.374-.687-.752-1.046-1.117-.21-.224-.344-.225-.542-.012s-.411.454-.64.692l-.32.336a.613.613,0,0,1-.659.167A6.642,6.642,0,0,1,5.468,9.342Z" fill="#fff" fill-rule="evenodd"></path>
                          </svg><span class="detail-button-num">03-6859-7337</span></p>
                  </div>
              </div>
          </div>
      </li>
      <li class="detail-button-contact detail-button">
          <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
              <div class="detail-button-inner">
                  <p class="detail-button-lead">簡単1分</p>
                  <p class="detail-button-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16"><defs><style>.a{fill:#fff;fill-rule:evenodd;}</style></defs>
<path class="a" d="M18,13.33A2.58,2.58,0,0,1,15.52,16h-13A2.58,2.58,0,0,1,0,13.33V2.66s0-.06,0-.1v0A2.57,2.57,0,0,1,2.49,0h13A2.57,2.57,0,0,1,18,2.53v0s0,.06,0,.09Zm-16.34,0a.84.84,0,0,0,.83.86h13a.84.84,0,0,0,.82-.86V4.26L9.43,8.77h0A.7.7,0,0,1,9,8.88l0,0H9l0,0a.72.72,0,0,1-.37-.11h0L1.66,4.26ZM15.52,1.8h-13a.81.81,0,0,0-.7.43L9,6.94l7.22-4.71A.83.83,0,0,0,15.52,1.8Z"></path>
</svg><span class="detail-button-contact-text">Webから問い合わせる</span></p>
              </div>
          </a>
      </li>
  </ul>
  <dl class="detail-contact-info">
     <div class="detail-contact-info-inner detail-contact-info-width">
         <dt class="detail-contact-info-dt">所在地</dt>
         <dd class="detail-contact-info-dd">〒151-0053 東京都渋谷区代々木2-11-17 ラウンドクロス新宿9F</dd>
     </div>
      <div class="detail-contact-info-inner">
          <dt class="detail-contact-info-dt">営業時間</dt>
          <dd class="detail-contact-info-dd">10:00～18:00</dd>
      </div>
      <div class="detail-contact-info-inner">
          <dt class="detail-contact-info-dt">定休日</dt>
          <dd class="detail-contact-info-dd">火・水曜日</dd>
      </div>
      <div class="detail-contact-info-inner">
          <dt class="detail-contact-info-dt">FAX</dt>
          <dd class="detail-contact-info-dd">03-3379-7337</dd>
      </div>
      <div class="detail-contact-info-inner">
          <dt class="detail-contact-info-dt">免許番号</dt>
          <dd class="detail-contact-info-dd">国土交通大臣免許（1）第8840号</dd>
      </div>
  </dl>
</div>
  <div class="pet-friendly-home">
      <div class="pet-friendly-home-img"><img src="/hebel-rooms/common_v2/img/property/pet-friendly-home_banner.png" alt="ペットフレンドリーホーム"></div>
      <dl class="pet-friendly-home-txtarea">
          <dt class="pet-friendly-home-tit">人とペットの豊かな暮らし宣言！</dt>
          <dd class="pet-friendly-home-txt">公益社団法人日本愛玩動物協会に賛同・協力し、人とペットが共生する豊かな暮らしを目指します。</dd>
      </dl>
  </div>
</div>
<div class="breadcrumb-wrap">
<div class="breadcrumb foot" id="foot_breadcrumb">
  <ul class="cf">
      <li><a href="http://www.afr-web.co.jp/hebel-rooms/index.html/">賃貸・お部屋探しのヘーベルメゾン</a></li>
      <li><a href="/hebel-rooms/search/index.html/">お部屋を探す</a></li>
      <li>ハイム小竹向原 0203号室</li>
  </ul>
</div>
</div>
  </div>
  <div class="scroll-fixed-area" id="js-scroll-fixed">
  <div class="for_sp btnarea-wrap">
      <div class="detail-button-wrap">
          <div class="detail-button-favorite detail-button js-favorite">
              <a href="#">
                  <span class="detail-button-inner">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
<path d="M11.4,6.136l5.162.877v.073L13.1,11.676l.483,5.241-.052.02L8.565,13.168,3.594,16.937l-.052-.02.483-5.241L.564,7.086V7.013l5.16-.877L8.53.93H8.6Z" fill-rule="evenodd"></path>
</svg>
                      <span class="for_pc">お気に入り</span>
                  </span>
              </a>
          </div>
          <div class="detail-button-tel-wrap">
              <div class="detail-button-tel detail-button">
                  <div class="detail-button-tel-inner">
                      <div class="detail-button-inner">
                          <a href="tel:0368597377">
                              <p class="detail-button-lead">お電話</p>
                              <p class="detail-button-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15">
                                      <path d="M13.48,5.912a.669.669,0,0,1-.645-.692,3.834,3.834,0,0,0-1.062-2.685A3.351,3.351,0,0,0,9.252,1.379.67.67,0,0,1,8.607.688.669.669,0,0,1,9.252,0a4.583,4.583,0,0,1,3.433,1.561,5.236,5.236,0,0,1,1.44,3.662A.669.669,0,0,1,13.48,5.912Zm-1.964.5a.646.646,0,1,1-1.289,0,2.249,2.249,0,0,0-.608-1.555,2.012,2.012,0,0,0-1.477-.679A.669.669,0,0,1,7.5,3.484a.67.67,0,0,1,.645-.691,3.237,3.237,0,0,1,2.375,1.071A3.642,3.642,0,0,1,11.516,6.41ZM8.32,9.717c.209-.218.413-.429.6-.654A1.516,1.516,0,0,1,11.3,9.038c.359.362.716.754,1.069,1.139l.491.534a1.8,1.8,0,0,1,.015,2.47l-.353.372c-.207.215-.41.425-.6.65a2.321,2.321,0,0,1-1.83.8,5.3,5.3,0,0,1-1.933-.451A12.965,12.965,0,0,1,3.578,11.3,14.055,14.055,0,0,1,.549,6.393C.313,5.716-.409,3.652.828,2.376c.168-.165.325-.334.481-.5.174-.187.348-.373.521-.543a1.487,1.487,0,0,1,2.284.006l.519.55c.358.376.72.756,1.069,1.152A1.723,1.723,0,0,1,5.69,5.515c-.159.171-.311.342-.462.511l-.209.233A5.8,5.8,0,0,0,6.315,8.3s.034.036.034.036l.032.034a5.391,5.391,0,0,0,1.9,1.39ZM5.468,9.342l.425-.521L5.4,9.274A7.215,7.215,0,0,1,3.662,6.306.728.728,0,0,1,3.818,5.6c.164-.173.32-.349.477-.525s.316-.355.482-.533c.2-.213.2-.321,0-.535-.35-.4-.7-.765-1.047-1.128l-.512-.541a.393.393,0,0,0-.261-.151c-.087,0-.157.064-.237.15-.181.178-.34.348-.5.519s-.341.365-.512.531c-.4.415-.39,1.27.049,2.526a12.655,12.655,0,0,0,2.731,4.415,11.722,11.722,0,0,0,4.117,2.927c1.187.476,1.959.481,2.363.016.2-.24.426-.472.653-.708l.322-.338c.174-.2.174-.334-.015-.55l-.484-.526c-.341-.374-.687-.752-1.046-1.117-.21-.224-.344-.225-.542-.012s-.411.454-.64.692l-.32.336a.613.613,0,0,1-.659.167A6.642,6.642,0,0,1,5.468,9.342Z" fill="#fff" fill-rule="evenodd"></path>
                                  </svg><span class="detail-button-num">03-6859-7337</span></p>
                          </a></div>
                  </div>
              </div>
          </div>
          <div class="detail-button-contact detail-button">
              <a href="https://www.afr-web.co.jp/hebel-rooms/form/contact/index.html" target="_blank">
                  <div class="detail-button-inner">
                      <p class="detail-button-lead">簡単1分</p>
                      <p class="detail-button-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
<path d="M18.937,13.329A2.583,2.583,0,0,1,16.451,16H3.423A2.584,2.584,0,0,1,.937,13.329V2.663c0-.034.009-.066.01-.1,0-.014,0-.027,0-.041A2.565,2.565,0,0,1,3.423,0H16.451a2.566,2.566,0,0,1,2.473,2.525c0,.013,0,.026,0,.04,0,.034.009.067.009.1Zm-16.343,0a.847.847,0,0,0,.829.862H16.451a.847.847,0,0,0,.829-.862V4.257L10.364,8.772c-.005,0-.01,0-.015,0a.776.776,0,0,1-.37.112c-.013,0-.026.012-.04.012h0c-.014,0-.027-.012-.04-.012a.773.773,0,0,1-.37-.112c-.005,0-.011,0-.015,0L2.594,4.256ZM16.451,1.8H3.423a.812.812,0,0,0-.7.432l7.217,4.71,7.216-4.71A.814.814,0,0,0,16.451,1.8Z" fill="#fff" fill-rule="evenodd"></path>
</svg><span class="detail-button-contact-text">Webから問い合わせる</span></p>
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>
  <div class="slide-thumarea">
  <div class="slide-thumareaiiner">
      <button type="button" class="slide-thumarea-prevbtn js-thum-slideclose mt0">戻る</button>
      <ul class="slide-thumarea-list">
          
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/a3123294505735a2ec4d63a82d61cad7_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/1f7bab3b6e01b28df1e48c95f50961b1_property_picture_1469_small.jpg" alt=""></a></li>
              <li class="slide-thumarea-item object-fit-cover-img">
                  <a href="#property-modal-1" class="js-property-modal-btn"><img src="/hebel-rooms/common_v2/img/property/main_sample02.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/0003700ae19295401f2cd1eae055ef1a_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/156aba0e-5303-4961-97cd-e4aea2752f49_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/7e3e77a9-073b-4710-b727-434661c416b6_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/eabe5f12-80af-4b7d-9ef6-320ea91cc001_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/ade04101-98f6-4de2-8910-d9f2a0845526_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/e9cf4654-ed7f-45f9-9fc2-c376e4185274_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/d610be1c-924b-4d27-b948-5cdff9b064d9_property_picture_1469_small.jpg" alt=""></a></li>
          <li class="slide-thumarea-item object-fit-cover-img">
              <a href="#property-modal-1" class="js-property-modal-btn"><img src="http://image.rentersnet.jp/4eddf49d-5ebb-42d8-86dd-92d118392fe1_property_picture_1469_small.jpg" alt=""></a></li>
      </ul>
      <button type="button" class="slide-thumarea-prevbtn js-thum-slideclose">戻る</button>
  </div>
</div>
  
<div class="modal-wrap">
  <div class="js-property-modal property-modal" id="property-modal-1">
      <div class="modal-inner">
          <div class="swiper-container-modal">
              <ul class="property-modal-list swiper-wrapper">
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/a3123294505735a2ec4d63a82d61cad7_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/1f7bab3b6e01b28df1e48c95f50961b1_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                      <li class="property-modal-list_item swiper-slide">
                          <div class="property-modal-list_img object-fit-img">
                              <img data-srcset="/hebel-rooms/common_v2/img/property/main_sample02.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                          </div>
                          <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                      </li>
                  
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/0003700ae19295401f2cd1eae055ef1a_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/156aba0e-5303-4961-97cd-e4aea2752f49_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/7e3e77a9-073b-4710-b727-434661c416b6_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/eabe5f12-80af-4b7d-9ef6-320ea91cc001_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/ade04101-98f6-4de2-8910-d9f2a0845526_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/e9cf4654-ed7f-45f9-9fc2-c376e4185274_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/d610be1c-924b-4d27-b948-5cdff9b064d9_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
                 <li class="property-modal-list_item swiper-slide">
                      <div class="property-modal-list_img object-fit-img">
                      <img data-srcset="http://image.rentersnet.jp/4eddf49d-5ebb-42d8-86dd-92d118392fe1_property_picture_1469_large.jpg" src="/hebel-rooms/common_v2/img/property/dummy.png" alt="">
                      </div>
                      <p class="property-modal-list_caption">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                  </li>
              </ul>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="property-modal-close js-property-modal-close"><img src="/hebel-rooms/common_v2/img/property/modal-close.svg" alt="閉じる"></div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="favorite-modal js-favorite-modal">
  <div class="favorite-modal__overlay js-favorite-modal__close"></div>
  <div class="favorite-modal-main">
    <div class="favorite-modal-main__article">
      <div class="favorite-modal-main__heading">
        <span>お気に入りに追加されました</span>
      </div>
      <div class="favorite-modal-main__text">
        「お気に入り一覧」から<br>
        追加した物件がご確認できます
      </div>
    </div>
    <div class="favorite-modal-main__btn">
      <a href="/hebel-rooms/favorite/favorite_a/">
        <span>お気に入り一覧へ</span>
      </a>
    </div>
    <div class="favorite-modal-main__close">
      <a class="js-favorite-modal__close" href="javascript:;"></a>
    </div>
  </div>
</div><%
} %><%-
  include(`${__dirname}/src/layouts/_default`, {content,pageData:pageData,pageName:pageName,__dirname:__dirname})
%>