<div class="current-page">
  <ul class="current-page-list">
    <li<%- pageName === '/features/hebelmaison/facility.html' ? ' class="is-active"':'' %>><a href="/hebel-rooms/features/hebelmaison/facility.html">快適な暮らし</a></li>
    <li<%- pageName === '/features/hebelmaison/' ? ' class="is-active"':'' %>><a href="/hebel-rooms/features/hebelmaison/index.html">耐火性・耐震性</a></li>
    <li<%- pageName === '/features/hebelmaison/room.html' ? ' class="is-active"':'' %>><a href="/hebel-rooms/features/hebelmaison/room.html">ギャラリー</a></li>
  </ul>
</div>