@use "~/../src/assets/scss/global" as G;
@use "sass:math";

/******************************************************************************
* current-page
*******************************************************************************/
.current-page {
  position: relative;
  height: 65px;
  background-color: #fff;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #d5d9ea;
  }
  @include G.MQ_BELOW_TAB {
    height: 40px;

    &::after {
      height: 2px;
    }
  }
}

.current-page-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  width: 495px;
  height: 100%;
  margin: 0 auto;

  > * {
    height: 100%;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      text-decoration: none;
      @include G.FONT_PC(16);

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 4px;
        content: "";
      }
    }

    &.is-active {
      a {
        font-weight: bold;
        color: #1e2380;
        pointer-events: none;

        &::after {
          background-color: #1e2380;
        }
      }
    }
  }
  @include G.MQ_BELOW_TAB {
    width: 100%;

    a {
      height: 100%;
      @include G.FONT_PC(12);
    }

    > * {
      height: 100%;

      &.is-active {
        a::after {
          height: 2px;
        }
      }
    }
  }

  @include G.ANY_HOVER {
    a {
      transition: font-weight 0.3s ease 0s, color 0.3s ease 0s;

      &::after {
        transition: background-color 0.3s ease 0s;
      }

      &:hover {
        font-weight: bold;
        color: #181c7f;
  
        &::after {
          height: 4px;
          background-color: #181c7f;
        }
      }
    }
  }
}
