@use "~/../src/assets/scss/global" as G;
@use "sass:math";

/******************************************************************************
* note
*******************************************************************************/
.note {
  line-height: 1.8;
  @include G.FONT_PC(12);
}