@use "~/../src/assets/scss/global" as G;
@use "sass:math";

/******************************************************************************
* link-button
*******************************************************************************/
.link-button {
  display: table;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 0.12em;
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
  transition: background-color .3s ease 0s, color .3s ease 0s, box-shadow .3s ease 0s;

  &:hover {
    text-decoration: none;
  }
  @include G.ANY_HOVER {
    &:hover {
      color: #fff;
      background-color: #1e2380;
      box-shadow: 0 0 0 0 rgb(0 0 0 / 20%);
    }
  }
  @include G.MQ_BELOW_TAB {
    margin: 0 auto;
    line-height: 45px;
  }
}