@use "~/../src/assets/scss/global" as G;

.underlayer-kv {
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  background: url("/hebel-rooms/common_v2/img/features/hebelmaison/kv.jpg") center center no-repeat;
  background-size: cover;
  @include G.MQ_BELOW_TAB {
    height: #{G.GET_VW(240)};
    background-image: url("/hebel-rooms/common_v2/img/features/hebelmaison/kv_sp.jpg");
  }
}

.underlayer-kv_box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  @include G.MQ_BELOW_TAB {
    padding: 0 30px;
  }
}

.underlayer-kv_heading {
  width: 100%;
  max-width: 1200px;

  > * {
    display: block;
    line-height: 1;
    color: #fff;
  }
}

.underlayer-kv_english {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.06em;
  @include G.FONT_PC(18);
  @include G.MQ_BELOW_TAB {
    @include G.FONT_PC(11);
  }
}

.underlayer-kv_japanese-large {
  margin-top: 15px;
  font-weight: bold;
  letter-spacing: 0.09em;
  @include G.FONT_PC(40);
  @include G.MQ_BELOW_TAB {
    @include G.FONT_PC(21);
  }
}

.underlayer-kv_japanese-small {
  margin-top: 15px;
  letter-spacing: 0.12em;
  @include G.FONT_PC(14);
  @include G.MQ_BELOW_TAB {
    @include G.FONT_PC(13);
  }
}