<div class="underlayer-kv">
  <div class="underlayer-kv_box">
    <h1 class="underlayer-kv_heading">
      <span class="underlayer-kv_english"><%- kv.english %></span>
      <span class="underlayer-kv_japanese-large"><%- kv.japaneseLarge %></span>
      <span class="underlayer-kv_japanese-small"><%- kv.japaneseSmall %></span>
    </h1>
  </div>
</div>