<!-- ↓↓ [ header ] ↓↓ -->
<div id="header" class="header">
  <p id="h_logo" class="h_logo"><a href="/hebel-rooms/index.html/" name="top"><img alt="ヘーベルメゾン" src="/hebel-rooms/common_v2/img/common/logo.svg"></a></p>
  <div id="g_navi" class="g_navi centering-list">
    <ul class="cf">
      <li><a href="/hebel-rooms/search/index.html/" data-menu="01"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-01.png" alt="お部屋を探す"></a></li>
      <li><a href="/hebel-rooms/feature/index.html/" data-menu="02"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-02.png" alt="こだわり検索"></a></li>
      <li><a href="/hebel-rooms/features/index.html/" data-menu="03"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-03.png" alt="サービスの特長"></a></li>
      <li><a href="/hebel-rooms/magazine/index.html/" data-menu="04"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-04.png" alt="ROOMSスタイル"></a></li>
      <li><a href="/hebel-rooms/shop/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-05.png" alt="店舗を探す"></a></li>
      <li><a href="/hebel-rooms/tenant/index.html/" data-menu="05"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-06-2.png" alt="ご入居者様へ"></a></li>
    </ul>
    <span class="ic-arrow" id="ic-arrow-navigation"></span>
  </div>
  <!-- /g_navi -->
  <p id="btn_contact" class="btn_contact"><a href="/hebel-rooms/form/contact/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/contact-2.png"> </a></p>
  <!-- *********** 【FOR SP】 *********** -->
  <div class="for_sp navi-trigger" id="sp-g-navi">
    <ul>
      <li class="n01"><a href="#" class="main-menu" id="sp-nav-1"><span class="ic"></span></a><br></li>
      <li class="n02"><a href="#" class="search-menu" id="sp-nav-2"><span class="ic"></span></a><br></li>
    </ul>
  </div>
  <!-- *********** 【FOR SP】 *********** -->
</div><!-- /header -->
<!--   <div class="header-sub">
  <p id="" class="h_logo"><a href="/hebel-rooms/index.html/" name="top"><img alt="へーベルROOMS" src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/logo-float.jpg"></a></p>
  <div class="inner">
    <div id="" class="g_navi ">
      <ul class="cf">
        <li><a href="/hebel-rooms/search/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-01.png" alt="お部屋を探す"></a></li>
        <li><a href="/hebel-rooms/feature/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-02.png" alt="こだわり検索"></a></li>
        <li><a href="/hebel-rooms/shop/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/gnav-03.png" alt="店舗を探す"></a></li>
      </ul>
    </div>
    <p id="" class="btn_contact"><a href="/hebel-rooms/form/contact/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/float-contact.png"> </a></p>
  </div>
</div>
-->
<!-- *********** サイド検索ツールトリガー *********** -->
<div id="head_search" class="head_search">
  <div class="triggers" id="head_search_triggers">
    <ul>
      <li><a href="#" class="" id="_trigger_search_area"><span class="ic-sidebar-trriger-01"></span></a><br></li>
      <li><a href="#" class="" id="_trigger_search_ensen"><span class="ic-sidebar-trriger-02"></span></a><br></li>
      <li><a href="#" class="" id="_trigger_favorite_list"><span class="ic-sidebar-trriger-03"></span></a><br></li>
    </ul>
  </div>
</div><!-- /head_search -->
<!-- *********** サイド検索ツールトリガー *********** -->
<div class="for_sp global-menu" id="sp-nav-1-content">
  <div class="main-nav">
    <ul class="cf">
      <li><a href="/hebel-rooms/search/index.html/"><span class="ic-gmn-01"></span>お部屋を探す</a></li>
      <li><a href="/hebel-rooms/feature/index.html/"><span class="ic-gmn-02"></span>こだわり物件</a></li>
      <li><a href="/hebel-rooms/favorite/favorite_a/"><span class="ic-gmn-03"></span>お気に入り</a></li>
    </ul>
    <ul class="cf">
      <li><a href="/hebel-rooms/features/index.html/"><span class="ic-gmn-04"></span>サービスの<br>特長</a></li>
      <li><a href="/hebel-rooms/magazine/index.html/"><span class="ic-gmn-05"></span>ROOMS<br>スタイル</a></li>
      <li><a href="/hebel-rooms/tenant/index.html/"><span class="ic-gmn-06"></span>ご入居者様へ<br>(お問い合わせ)</a></li>
    </ul>
  </div>
  <div class="sub-nav">
    <ul class="cf">
      <li><a href="/hebel-rooms/shop/index.html/">店舗を探す</a></li>
      <li><a href="/hebel-rooms/features/hebelmaison/index.html/">へーベルメゾンについて</a></li>
      <li><a href="//www.afr-web.co.jp/hebel-rooms/pet/tenant/index.html/" target="_blank">＋わん＋にゃん倶楽部</a></li>
    </ul>
    <p class="btn-contact"><a href="/hebel-rooms/form/contact/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/sp/common/btn-contact-2.png" alt=""></a></p>
  </div>
</div>
<div class="for_sp global-menu search" id="sp-nav-2-content">
  <div class="sub-nav">
    <h3 class="seach-title"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/sp/common/nav-search-title.png" alt=""></h3>
    <ul class="cf">
      <li class="parent"><a href="#" class="ic-cross">関東<span class=""></span></a>
        <ul class="child">
          <li><a href="/hebel-rooms/search/tokyo/index.html/">東京都</a></li>
          <li><a href="/hebel-rooms/search/kanagawa/index.html/">神奈川県</a></li>
          <li><a href="/hebel-rooms/search/chiba/index.html/">千葉県</a></li>
          <li><a href="/hebel-rooms/search/saitama/index.html/">埼玉県</a></li>
        </ul>
      </li>
      <li class="parent"><a href="#" class="ic-cross">関西<span class=""></span></a>
        <ul class="child">
          <li><a href="/hebel-rooms/search/oosaka/index.html/">大阪府</a></li>
          <li><a href="/hebel-rooms/search/kyoto/index.html/">京都府</a></li>
          <li><a href="/hebel-rooms/search/hyogo/index.html/">兵庫県</a></li>
          <li><a href="/hebel-rooms/search/nara/index.html/">奈良県</a></li>
          <li><a href="/hebel-rooms/search/shiga/index.html/">滋賀県</a></li>
        </ul>
      </li>
      <li class="parent"><a href="#" class="ic-cross">その他の地域<span class=""></span></a>
        <ul class="child">
          <li><a href="/hebel-rooms/search/fukuoka/index.html/">福岡県</a></li>
          <li><a href="/hebel-rooms/search/hiroshima/index.html/">広島県</a></li>
        </ul>
      </li>
    </ul>
    <p class="btn-contact"><a href="/hebel-rooms/form/contact/index.html/"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/sp/common/btn-contact.png" alt=""></a></p>
  </div>
</div><!-- /sp-menu -->
<!-- *********** TOGGLE MENU *********** -->
<div class="global-menu-expand ">
  <div class="inner">
    <div class="menu menu-02 col-04" id="expand-menu-01">
      <div class="content-area">
        <div class="col-area area-01">
          <h3 class="areaname">関東</h3>
          <ul>
            <li><a href="javascript:;" onclick="modalMenuArea('13');">東京都</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('14');">神奈川県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('12');">千葉県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('11');">埼玉県</a></li>
            <li>
              <form id="header-area-ibaraki">
                <a href="/hebel-rooms/search/list_p/?pref_cd=08&amp;search_results_text=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E3%81%AE%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7" data-value="pref_cd=08" class="area-ibaraki" data-map-area="ibaraki">茨城県</a>
                <input name="search_results_text" value="茨城県の物件一覧" type="hidden">
                <input name="city_selected" value="茨城県" type="hidden">
              </form>
            </li>
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-01">
          <h3 class="areaname">東海</h3>
          <ul>
            <li><a href="javascript:;" onclick="modalMenuArea('22');">静岡県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('23');">愛知県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('21');">岐阜県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('24');">三重県</a></li>
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-01">
          <h3 class="areaname">関西</h3>
          <ul>
            <li><a href="javascript:;" onclick="modalMenuArea('27');">大阪府</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('26');">京都府</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('28');">兵庫県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('29');">奈良県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('25');">滋賀県</a></li>
            <li>
              <form id="header-area-wakayama">
                <a href="/hebel-rooms/search/list_p/?pref_cd=30&amp;search_results_text=%E5%92%8C%E6%AD%8C%E5%B1%B1%E7%9C%8C%E3%81%AE%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7" data-value="pref_cd=30" class="area-wakayama" data-map-area="wakayama">和歌山県</a>
                <input name="search_results_text" value="和歌山県の物件一覧" type="hidden">
                <input name="city_selected" value="和歌山県" type="hidden">
              </form>
            </li>
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-01">
          <h3 class="areaname">西日本</h3>
          <ul>
            <li><a href="javascript:;" onclick="modalMenuArea('40');">福岡県</a></li>
            <li><a href="javascript:;" onclick="modalMenuArea('34');">広島県</a></li>
            <li>
              <form id="header-area-okayama">
                <a href="/hebel-rooms/search/list_p/?pref_cd=33&amp;search_results_text=%E5%B2%A1%E5%B1%B1%E7%9C%8C%E3%81%AE%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7" data-value="pref_cd=33" class="area-okayama" data-map-area="okayama">岡山県</a>
                <input name="search_results_text" value="岡山県の物件一覧" type="hidden">
                <input name="city_selected" value="岡山県" type="hidden">
              </form>
            </li>
          </ul>
        </div><!-- /col-area -->
      </div>
    </div><!-- /menu01 -->
    <div class="menu menu-02 " id="expand-menu-02">
      <!-- <div class="ttl-area">
        <h2 class="ttl"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/h202.png" alt="お部屋を探す"></h2>
        <p class="desc">ライフスタイルやこだわりの条件に合わせてお部屋を探せます。</p>
        <a href="/hebel-rooms/feature/index.html/" class="more"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/ic-more.png" alt="MORE"></a>
      </div> -->
      <div class="content-area">
        <div class="col-area area-01">
          <h3 class="areaname">PICK UP</h3>
          <ul>
            <li><a href="/hebel-rooms/feature/petkyousei.html/">ペット共生型賃貸住宅・+わん+にゃん</a></li>
            <li><a href="/hebel-rooms/feature/fufu/index.html/">共働き夫婦二人の賃貸住宅「fufu（フフ）」</a></li>
            <li><a href="/hebel-rooms/feature/renovation/index.html/">リノベーション賃貸住宅特集</a></li>
            <li><a href="/hebel-rooms/feature/zeh/index.html/">ＺＥＨ対応ヘーベルメゾン特集</a></li>
            <li><a href="/hebel-rooms/feature/shinchiku.html/">新築賃貸物件特集</a></li>
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-02">
          <h3 class="areaname">ライフスタイルから探す</h3>
          <ul>
            <li><a href="http://www.asahi-kasei.co.jp/rent/boriki/index.html/" target="_blank">子育て共感賃貸住宅・母力</a></li>
            <li><a href="/hebel-rooms/feature/newsafole/index.html/">女性のあんしん共有賃貸・New Safole</a></li>
            <li><a href="//www.asahi-kasei.co.jp/hebel-senior/index.html/" target="_blank">シニア向け安心賃貸住宅・へーベルVillage</a></li>
            <li><a href="/hebel-rooms/feature/fldk/index.html/">まどり可変型賃貸住宅・fLDK</a></li>
            <li><a href="/hebel-rooms/feature/advanced/sora/index.html/">戸建て感覚の賃貸住宅・空間（そら）</a></li>
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-03">
          <h3 class="areaname">こだわりから探す</h3>
          <ul>
            <li><a href="/hebel-rooms/feature/security.html/">セキュリティ強化型賃貸住宅</a></li>
            <li><a href="/hebel-rooms/feature/ekichikai.html/">駅近物件</a></li>
            <li><a href="/hebel-rooms/feature/syunou.html/">収納充実（WIC）物件</a></li>
            <li><a href="/hebel-rooms/feature/tomin.html/">都民賃貸住宅</a></li>
            <li><a href="/hebel-rooms/feature/yutorifuru.html/">食品受取宅配ボックス付賃貸住宅</a></li>
            <li>
              <form id="nosmoke_header">
                <a href="/hebel-rooms/search/list_a/?building_keyword=%E7%A6%81%E7%85%99&amp;search_results_text=%E7%A6%81%E7%85%99%E3%83%9E%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7" data-value="" class="sidebar-regist type-kodawari">
                  禁煙マンション
                </a>
                <input name="search_results_text" value="禁煙" type="hidden">
                <input name="building_keyword" value="禁煙" type="hidden">
                <input name="city_selected" value="全国" type="hidden">
              </form>
            </li>
          </ul>
        </div><!-- /col-area -->
      </div>
    </div><!-- /menu02 -->
    <div class="menu menu-03" id="expand-menu-03">
      <div class="ttl-area">
        <h2 class="ttl"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/h203.png" alt="お部屋を探す"></h2>
        <p class="desc">物件やサービスなど、ヘーベルROOMSならではの特長</p>
        <a href="/hebel-rooms/features/index.html/" class="more"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/ic-more.png" alt="MORE"></a>
      </div>
      <div class="content-area">
        <div class="col-area area-01">
          <h3 class="areaname">物件の特長</h3>
          <ul>
            <li><a href="/hebel-rooms/features/hebelmaison/index.html/">ヘーベルメゾンの特長</a></li>
            <li><a href="/hebel-rooms/features/atlas/index.html/">アトラスの特長</a></li>
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-02">
          <h3 class="areaname">ヘーベルROOMSのサービス</h3>
          <ul>
            <li><a href="/hebel-rooms/features/service/flow.html/">ご契約までの流れ</a></li>
            <li><a href="/hebel-rooms/features/service/member.html/">ヘーベルROOMS倶楽部</a></li>
            <li><a href="/hebel-rooms/features/service/management.html/">建物管理サービス</a></li>
            <li><a href="/hebel-rooms/features/service/system.html/">連帯保証人不要システム</a></li>
            <li><a href="/hebel-rooms/features/service/insurance.html/">旭化成のヘーベルROOMS保険</a></li>
          </ul>
        </div><!-- /col-area -->
      </div>
    </div><!-- /menu03 -->
    <div class="menu menu-04" id="expand-menu-04">
      <div class="ttl-area">
        <h2 class="ttl"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/h204.png" alt="お部屋を探す"></h2>
        <p class="desc">ヘーベルROOMSを利用した賃貸ライフ、TVCM情報などをご紹介</p>
        <a href="/hebel-rooms/magazine/index.html/" class="more"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/ic-more.png" alt="MORE"></a>
      </div>
      <div class="content-area">
        <div class="col-area area-01">
          <h3 class="areaname">ルームズスタイル</h3>
          <ul>
            <li><span>最新TVCM（Coming soon）</span></li>
            <!-- <li><a href="/hebel-rooms/magazine/tvcm/index.html/">最新TVCM</a></li>
            <li><a href="/hebel-rooms/magazine/tvcm/index.html/#movie-2">店舗紹介ムービー</a></li> -->
          </ul>
        </div><!-- /col-area -->
        <div class="col-area area-02">
          <h3 class="areaname">暮らしで知るヘーベルROOMS</h3>
          <ul>
            <li><a href="/hebel-rooms/magazine/style/001_security.html/">「安心を生み出すセキュリティー」</a></li>
            <li><a href="/hebel-rooms/magazine/style/002_family.html/">「ひとクラス上のデザイン・設備」</a></li>
            <li><a href="/hebel-rooms/magazine/style/003_bath.html/">「水回りの充実は生活の充実」</a></li>
            <li><a href="/hebel-rooms/magazine/style/004_storage.html/">「フトコロ広い、たっぷり収納」</a></li>
            <li><a href="/hebel-rooms/magazine/style/005_pet.html/">「ペットとともに暮らす癒しの空間」</a></li>
          </ul>
        </div><!-- /col-area -->
      </div>
    </div><!-- /menu04 -->
    <div class="menu menu-05" id="expand-menu-05">
      <div class="ttl-area">
        <h2 class="ttl"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/h205.png" alt="ご入居者様へ"></h2>
        <p class="desc">より快適にお住まいいただくための情報をご紹介</p>
        <a href="/hebel-rooms/tenant/index.html/" class="more"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/nav-expand/ic-more.png" alt="MORE"></a>
      </div>
      <div class="content-area">
        <div class="col-area area-01">
          <h3 class="areaname">快適に住まうために</h3>
          <div class="row cf">
            <div class="col-2">
              <ul>
                <li><a href="/hebel-rooms/tenant/gonyukyo.html/">ご入居にあたって</a></li>
                <li><a href="/hebel-rooms/tenant/manners.html/">暮らしのマナー・ルール</a></li>
                <li><a href="/hebel-rooms/tenant/oteire.html/">お部屋の設備</a></li>
                <li><a href="/hebel-rooms/tenant/bousai.html/">防災・防犯</a></li>
                <li><a href="/hebel-rooms/tenant/koushin.html/">契約更新・ご退室</a></li>
              </ul>
            </div>
            <div class="col-2">
              <ul>
                <li><a href="/hebel-rooms/tenant/sumikae.html/">お住み替え</a></li>
                <li><a href="/hebel-rooms/tenant/faq.html/">よくあるご質問</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /col-area -->
        <div class="col-area area-02">
          <h3 class="areaname">便利なサービス</h3>
          <ul>
            <li><a href="https://www.club-off.com/hebel-rooms/index.cfm" target="_blank">毎月25日おトク<br>ヘーベルROOMS Club Off</a></li>
            <!-- <li><a href="https://www.csk.afr-web.co.jp/" target="_blank">故障・修理のご相談<br>ヘーベルROOMSセンター</a></li> -->
            <li><a href="//www.afr-web.co.jp/hebel-rooms/pet/tenant/index.html/" target="_blank">入居者向けウェブサイト<br>『＋わん＋にゃん倶楽部』</a></li>
          </ul>
        </div><!-- /col-area -->
      </div>
    </div><!-- /menu05 -->
  </div>
</div> <!-- /.global-menu-expand -->
<!-- *********** TOGGLE MENU *********** -->
<!-- *********** MENU AREA MODAL *********** -->
<div id="_menu-area-modal">
  <div class="menu-area-modal-contents">
    <div class="menu-area-modal-contents-left">
      <div class="box-links">
        <div id="region-wrap" class="kanto">
          <p class="area-name">東京都</p>
          <div class="area-search-links">
            <a href="/hebel-rooms/search/area/index.html/?pref_cd=13" title="" class="area"><span>エリア検索</span></a>
            <a href="/hebel-rooms/search/ensen/index.html/?pref_cd=13" title="" class="line"><span>沿線検索</span></a>
          </div>
          <p class="backlink"><a href="javascript:;" title="" onclick="modalMenuArea();">閉じる</a></p>
        </div>
      </div>
    </div>
    
    <div class="menu-area-modal-contents-right">
      <p class="particular-name">こだわりから探す</p>
      <ul>
        <li>
          <form id="header_kodawari_01">
            <a href="/hebel-rooms/search/list_a/?room_keyword=%E3%83%9A%E3%83%83%E3%83%88%E5%85%B1%E7%94%9F&amp;pref_cd=13&amp;search_results_text=%E6%9D%B1%E4%BA%AC%E9%83%BD%E3%81%AE%E3%83%9A%E3%83%83%E3%83%88%E5%85%B1%E7%94%9F%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7&amp;pet_Kyosei=pet_Kyosei" data-value="pref_cd=13|city_selected=東京都" class="pet sidebar-regist type-kodawari">
              <img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/index/hebel-modal-menu_01.png" alt="ペット共生物件">
            </a>
            <input name="search_results_text" value="ペット共生物件" type="hidden">
            <input name="room_keyword" value="ペット共生" type="hidden">
            <input name="pet_Kyosei" value="pet_Kyosei" type="hidden">
          </form>
        </li>
        <li>
          <form id="header_kodawari_02">
            <a href="/hebel-rooms/search/list_a/?pref_cd=13&amp;new_status=2&amp;search_results_text=%E6%9D%B1%E4%BA%AC%E9%83%BD%E3%81%AE%E6%96%B0%E7%AF%89%E7%89%A9%E4%BB%B6&amp;pet_Kyosei=pet_Kyosei" data-value="pref_cd=13|city_selected=東京都" class="shinchiku sidebar-regist type-kodawari">
              <img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/index/hebel-modal-menu_02.png" alt="全国の新築物件">
            </a>
            <input name="search_results_text" value="新築物件" type="hidden">
            <input name="new_status" value="2" type="hidden">
            <input name="pet_Kyosei" value="pet_Kyosei" type="hidden">
          </form>
        </li>
      </ul>
      
    </div>
  </div>
</div>
<!-- *********** MENU AREA MODAL *********** -->
<!--
##########################
サイドバー検索ツール　ここから
##########################
-->
<div class="sidesearch-box box--area" id="_searchbox">
<div class="box--inner">
<!-- ######## エリア検索ここから ######## -->
<div class="sidesearch-content-wrapper" id="_searchbox_search_area">
<form action="/hebel-rooms/search/list_a/" method="get" accept-charset="utf-8">
  <div class="box--head">
    <h2 class="ttl"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/sidenav/title-area-box.jpg" alt=""></h2>
    <ul class="btn-list action cf">
      <li><a href="#" title="現在の条件をクリアする" class="btn-clear">現在の条件をクリアする</a></li>
      <li class="for_pc"><input class="btn-search" value="この条件で検索する" type="submit"></li>
      <li class="for_sp"><input class="btn-search" value="この条件で検索する" type="submit"></li>
    </ul>
  </div>
  <!-- /.box-head -->
  <div class="box--options">
    <div class="elem-box elem-select-area open" id="_elem-select-area">
      <div class="elem-head">
        <h3 class="ttl with-link"><a href="#" title="物件の条件" class="ic-plus">エリア選択</a></h3>
        <div class="for_sp">
          <ul class="cf tab_select_type">
            <li><a href="#" class="c _sptab_btn_search_area" title="エリア検索">エリア検索</a></li>
            <li><a href="#" title="沿線検索" class="_sptab_btn_search_ensen">沿線検索</a></li>
          </ul>
        </div>
      </div>
      <div class="elem-cont">
        <ul class="btn-list btns-area cf" id="btns-select-area">
          <li><a title="関東エリア" class="btn-select-area" id="sidebar_area_kanto" href="/page.jsp?id=393040&amp;pref_cd=13">関東エリア</a></li>
          <li><a title="東海エリア" class="btn-select-area" id="sidebar_area_tokai" href="/page.jsp?id=393040&amp;pref_cd=22">東海エリア</a></li>
          <li><a title="関西エリア" class="btn-select-area" id="sidebar_area_kansai" href="/page.jsp?id=393040&amp;pref_cd=27">関西エリア</a></li>
          <li><a title="西日本エリア" class="btn-select-area" id="sidebar_area_other" href="/page.jsp?id=393040&amp;pref_cd=40">西日本エリア</a></li>
        </ul>
      </div>
    </div>
    <!-- /.elem-select-area -->
    <div class="elem-box elem-select-options ">
      <div class="elem-head">
        <h3 class="ttl with-link"><a href="#" title="物件の条件" class="ic-plus">物件の条件</a></h3>
      </div>
      <div class="elem-cont">
        <div class="inner options">
          <table class="">
            <tbody>
              <tr>
                <th>賃料</th>
                <td>
                  <ul class="cf range">
                    <li>
                      <select class="hr-select sidesearch_price_min" name="rent_amount_lower" id="select-opt-area-sidesearch_price_min">
                        <option value="" select-opt-area-1-1="" selected="">下限なし</option>
                        <option label="3.0万円" value="30000" id="select-opt-area-1-2">3.0万円</option>
                        <option label="3.5万円" value="35000" id="select-opt-area-1-3">3.5万円</option>
                        <option label="4.0万円" value="40000" id="select-opt-area-1-4">4.0万円</option>
                        <option label="4.5万円" value="45000" id="select-opt-area-1-5">4.5万円</option>
                        <option label="5.0万円" value="50000" id="select-opt-area-1-6">5.0万円</option>
                        <option label="5.5万円" value="55000" id="select-opt-area-1-7">5.5万円</option>
                        <option label="6.0万円" value="60000" id="select-opt-area-1-8">6.0万円</option>
                        <option label="6.5万円" value="65000" id="select-opt-area-1-9">6.5万円</option>
                        <option label="7.0万円" value="70000" id="select-opt-area-1-10">7.0万円</option>
                        <option label="7.5万円" value="75000" id="select-opt-area-1-11">7.5万円</option>
                        <option label="8.0万円" value="80000" id="select-opt-area-1-12">8.0万円</option>
                        <option label="8.5万円" value="85000" id="select-opt-area-1-13">8.5万円</option>
                        <option label="9.0万円" value="90000" id="select-opt-area-1-14">9.0万円</option>
                        <option label="9.5万円" value="95000" id="select-opt-area-1-15">9.5万円</option>
                        <option label="10万円" value="100000" id="select-opt-area-1-16">10万円</option>
                        <option label="11万円" value="110000" id="select-opt-area-1-17">11万円</option>
                        <option label="12万円" value="120000" id="select-opt-area-1-18">12万円</option>
                        <option label="13万円" value="130000" id="select-opt-area-1-19">13万円</option>
                        <option label="14万円" value="140000" id="select-opt-area-1-20">14万円</option>
                        <option label="15万円" value="150000" id="select-opt-area-1-21">15万円</option>
                        <option label="16万円" value="160000" id="select-opt-area-1-22">16万円</option>
                        <option label="17万円" value="170000" id="select-opt-area-1-23">17万円</option>
                        <option label="18万円" value="180000" id="select-opt-area-1-24">18万円</option>
                        <option label="19万円" value="190000" id="select-opt-area-1-25">19万円</option>
                        <option label="20万円" value="200000" id="select-opt-area-1-26">20万円</option>
                        <option label="30万円" value="300000" id="select-opt-area-1-27">30万円</option>
                        <option label="50万円" value="500000" id="select-opt-area-1-28">50万円</option>
                        <option label="100万円" value="1000000" id="select-opt-area-1-29">100万円</option>
                      </select>
                    </li>
                    <li class="separator">～</li>
                    <li>
                      <select class="hr-select sidesearch_price_max" name="rent_amount_upper" id="select-opt-area-sidesearch_price_max">
                        <option label="3.5万円" value="35000" id="select-opt-area-2-1">3.5万円</option>
                        <option label="4.0万円" value="40000" id="select-opt-area-2-2">4.0万円</option>
                        <option label="4.5万円" value="45000" id="select-opt-area-2-3">4.5万円</option>
                        <option label="5.0万円" value="50000" id="select-opt-area-2-4">5.0万円</option>
                        <option label="5.5万円" value="55000" id="select-opt-area-2-5">5.5万円</option>
                        <option label="6.0万円" value="60000" id="select-opt-area-2-6">6.0万円</option>
                        <option label="6.5万円" value="65000" id="select-opt-area-2-7">6.5万円</option>
                        <option label="7.0万円" value="70000" id="select-opt-area-2-8">7.0万円</option>
                        <option label="7.5万円" value="75000" id="select-opt-area-2-9">7.5万円</option>
                        <option label="8.0万円" value="80000" id="select-opt-area-2-10">8.0万円</option>
                        <option label="8.5万円" value="85000" id="select-opt-area-2-11">8.5万円</option>
                        <option label="9.0万円" value="90000" id="select-opt-area-2-12">9.0万円</option>
                        <option label="9.5万円" value="95000" id="select-opt-area-2-13">9.5万円</option>
                        <option label="10万円" value="100000" id="select-opt-area-2-14">10万円</option>
                        <option label="11万円" value="110000" id="select-opt-area-2-15">11万円</option>
                        <option label="12万円" value="120000" id="select-opt-area-2-16">12万円</option>
                        <option label="13万円" value="130000" id="select-opt-area-2-17">13万円</option>
                        <option label="14万円" value="140000" id="select-opt-area-2-18">14万円</option>
                        <option label="15万円" value="150000" id="select-opt-area-2-19">15万円</option>
                        <option label="16万円" value="160000" id="select-opt-area-2-20">16万円</option>
                        <option label="17万円" value="170000" id="select-opt-area-2-21">17万円</option>
                        <option label="18万円" value="180000" id="select-opt-area-2-22">18万円</option>
                        <option label="19万円" value="190000" id="select-opt-area-2-23">19万円</option>
                        <option label="20万円" value="200000" id="select-opt-area-2-24">20万円</option>
                        <option label="30万円" value="300000" id="select-opt-area-2-25">30万円</option>
                        <option label="50万円" value="500000" id="select-opt-area-2-26">50万円</option>
                        <option label="100万円" value="1000000" id="select-opt-area-2-27">100万円</option>
                        <option value="" id="select-opt-area-2-28" selected="">上限なし</option>
                      </select>
                    </li>
                  </ul>
                  <ul class="cf cks ck-style-multiline li-2">
                    <li class="textline_x2"><label class="hr-ck" for="cb-opt-area-1-1"><input name="rent_total_upper" id="cb-opt-area-1-1" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">共益費 / 管理費を含む</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-2"><input name="reikin_upper" id="cb-opt-area-1-2" value="0.01" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">礼金なし</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>間取り</th>
                <td class="madori">
                  <ul class="li-3 cf">
                    <li><label class="hr-ck" for="cb-opt-area-1-3"><input name="room_layout_type" id="cb-opt-area-1-3" value="OneRoom,1K,1SK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1R・1K</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-4"><input name="room_layout_type" id="cb-opt-area-1-4" value="1DK,1SDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1DK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-5"><input name="room_layout_type" id="cb-opt-area-1-5" value="1LDK,1SLDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1LDK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-6"><input name="room_layout_type" id="cb-opt-area-1-6" value="2K,2SK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2K</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-7"><input name="room_layout_type" id="cb-opt-area-1-7" value="2DK,2SDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2DK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-8"><input name="room_layout_type" id="cb-opt-area-1-8" value="2LDK,2SLDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2LDK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-1-9"><input name="room_layout_type" id="cb-opt-area-1-9" value="3K,3SK,3DK,3SDK,3LDK,3SLDK,4K,4SK,4DK,4SDK,4LDK,4SLDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">3K以上</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>専有面積</th>
                <td>
                  <ul class="cf range">
                    <li>
                      <select class="hr-select sidesearch_areasize_min" name="square_lower" id="select-opt-area-sidesearch_areasize_min">
                        <option value="" id="select-opt-area-3-1" selected="">下限なし</option>
                        <option value="10" id="select-opt-area-3-2">10m2</option>
                        <option value="15" id="select-opt-area-3-3">15m2</option>
                        <option value="20" id="select-opt-area-3-4">20m2</option>
                        <option value="25" id="select-opt-area-3-5">25m2</option>
                        <option value="30" id="select-opt-area-3-6">30m2</option>
                        <option value="35" id="select-opt-area-3-7">35m2</option>
                        <option value="40" id="select-opt-area-3-8">40m2</option>
                        <option value="45" id="select-opt-area-3-9">45m2</option>
                        <option value="50" id="select-opt-area-3-10">50m2</option>
                        <option value="60" id="select-opt-area-3-11">60m2</option>
                        <option value="70" id="select-opt-area-3-12">70m2</option>
                        <option value="80" id="select-opt-area-3-13">80m2</option>
                        <option value="90" id="select-opt-area-3-14">90m2</option>
                        <option value="100" id="select-opt-area-3-15">100m2</option>
                        <option value="110" id="select-opt-area-3-16">110m2</option>
                        <option value="120" id="select-opt-area-3-17">120m2</option>
                        <option value="130" id="select-opt-area-3-18">130m2</option>
                        <option value="140" id="select-opt-area-3-19">140m2</option>
                        <option value="150" id="select-opt-area-3-20">150m2</option>
                        <option value="200" id="select-opt-area-3-21">200m2</option>
                      </select>
                    </li>
                    <li class="separator">～</li>
                    <li>
                      <select class="hr-select sidesearch_areasize_max" name="square_upper" id="select-opt-area-sidesearch_areasize_max">
                        <option value="15" id="select-opt-area-4-1">15m2</option>
                        <option value="20" id="select-opt-area-4-2">20m2</option>
                        <option value="25" id="select-opt-area-4-3">25m2</option>
                        <option value="30" id="select-opt-area-4-4">30m2</option>
                        <option value="35" id="select-opt-area-4-5">35m2</option>
                        <option value="40" id="select-opt-area-4-6">40m2</option>
                        <option value="45" id="select-opt-area-4-7">45m2</option>
                        <option value="50" id="select-opt-area-4-8">50m2</option>
                        <option value="60" id="select-opt-area-4-9">60m2</option>
                        <option value="70" id="select-opt-area-4-10">70m2</option>
                        <option value="80" id="select-opt-area-4-11">80m2</option>
                        <option value="90" id="select-opt-area-4-12">90m2</option>
                        <option value="100" id="select-opt-area-4-13">100m2</option>
                        <option value="110" id="select-opt-area-4-14">110m2</option>
                        <option value="120" id="select-opt-area-4-15">120m2</option>
                        <option value="130" id="select-opt-area-4-16">130m2</option>
                        <option value="140" id="select-opt-area-4-17">140m2</option>
                        <option value="150" id="select-opt-area-4-18">150m2</option>
                        <option value="200" id="select-opt-area-4-19">200m2</option>
                        <option value="" id="select-opt-area-4-20 " selected="">上限なし</option>
                      </select>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>アクセス</th>
                <td>
                  <ul class="cf li-2 access2">
                    <li><label class="hr-rd" for="cb-opt-area-2-1"><input name="est_transport_time_upper" id="cb-opt-area-2-1" value="5" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">5分以内</span></span></label></li>
                    <li><label class="hr-rd" for="cb-opt-area-2-2"><input name="est_transport_time_upper" id="cb-opt-area-2-2" value="10" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">10分以内</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 access2">
                    <li><label class="hr-rd" for="cb-opt-area-2-4"><input name="est_transport_time_upper" id="cb-opt-area-2-4" value="15" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">15分以内</span></span></label></li>
                    <li><label class="hr-rd" for="cb-opt-area-2-3"><input name="est_transport_time_upper" id="cb-opt-area-2-3" value="100" checked="checked" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">指定なし</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>築年数</th>
                <td>
                  <p class="single-col yearsold">
                    <select class="hr-select sidesearch_yearsold" name="complete_year_lower" id="select-opt-area-sidesearch_yearsold">
                      <option value="100" id="select-opt-area-5-1" selected="selected">指定なし</option>
                      <option value="new" id="select-opt-area-5-2">新築</option>
                      <option value="3" id="select-opt-area-5-3">3年以内</option>
                      <option value="5" id="select-opt-area-5-4">5年以内</option>
                      <option value="10" id="select-opt-area-5-5">10年以内</option>
                      <option value="15" id="select-opt-area-5-6">15年以内</option>
                      <option value="20" id="select-opt-area-5-7">20年以内</option>
                      <option value="25" id="select-opt-area-5-8">25年以内</option>
                      <option value="30" id="select-opt-area-5-9">30年以内</option>
                    </select>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.elem-select-options -->
    <div class="elem-box elem-select-kodawari">
      <div class="elem-head">
        <h3 class="ttl with-link"><a href="#" title="こだわり条件" class="ic-plus">こだわり条件</a></h3>
      </div>
      <div class="elem-cont">
        <div class="inner kodawari for_pc">
          <ul class="cf cks ">
            <li class="check-type-btn"><input name="room_keyword" id="cb-opt-area-3-1" value="ペット共生" type="checkbox"><label class="btn-ck" for="cb-opt-area-3-1">ペット共生物件</label></li>
            <li class="check-type-btn"><input name="enter_div" id="cb-opt-area-3-2" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-area-3-2">即入居可</label></li>
            <li class="check-type-btn"><input name="surety" id="cb-opt-area-3-3" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-area-3-3">保証人不要</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-3-4" value="division_type" type="checkbox"><label class="btn-ck" for="cb-opt-area-3-4">分譲賃貸</label></li>
            <li class="check-type-btn w_x2"><input name="equipment_and" id="cb-opt-area-3-5" value="walk_in" type="checkbox"><label class="btn-ck" for="cb-opt-area-3-5">ウォークインクローゼット</label></li>
            <li class="check-type-btn"><input name="floor_upper" id="cb-opt-area-4-1" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-area-4-1">1階</label></li>
            <li class="check-type-btn"><input name="floor_lower" id="cb-opt-area-4-2" value="2" type="checkbox"><label class="btn-ck" for="cb-opt-area-4-2">2階以上</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-5-1" value="autolock" type="checkbox"><label class="btn-ck" for="cb-opt-area-5-1">オートロック</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-5-2" value="tv_doorphone" type="checkbox"><label class="btn-ck" for="cb-opt-area-5-2">テレビドアフォン</label></li>
            <li class="check-type-btn"><input name="carpark_status" id="cb-opt-area-6-1" value="1,2,3" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-1">駐車場有</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-2" value="delivery_locker" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-2">宅配ボックス</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-3" value="BT_separate" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-3">バストイレ別</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-4" value="bathroom_dryer" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-4">浴室乾燥機</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-5" value="spray_toilet" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-5">温水洗浄便座</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-6" value="oidaki" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-6">追い焚き</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-7" value="flooring" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-7">フローリング</label></li>
            <li class="check-type-btn"><input name="airconditioner" id="cb-opt-area-6-8" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-8">エアコン付</label></li>
            <!--<li class="check-type-btn"><input name="equipment_and" id="cb-opt-area-6-9" value="lavatory_independence" type="checkbox"><label class="btn-ck" for="cb-opt-area-6-9">独立洗面台</label></li>-->
          </ul>
        </div>
        <div class="inner options kodawari for_sp">
          <table>
            <tbody>
              <tr>
                <th>人気のこだわり条件</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-3-1"><input name="room_keyword" id="cb-opt-area-sp-3-1" value="ペット共生" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">ペット共生物件</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-3-2"><input name="enter_div" id="cb-opt-area-sp-3-2" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">即入居可</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-3-3"><input name="surety" id="cb-opt-area-sp-3-3" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">保証人不要</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-3-4"><input name="equipment_and" id="cb-opt-area-sp-3-4" value="division_type" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">分譲賃貸</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-3-5"><input name="equipment_and" id="cb-opt-area-sp-3-5" value="walk_in" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">ウォークインクローゼット</span></span></label></li>
                    <li><br></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>位置</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-4-1"><input name="floor_upper" id="cb-opt-area-sp-4-1" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1階</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-4-2"><input name="floor_lower" id="cb-opt-area-sp-4-2" value="2" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2階以上</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>セキュリティ</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-5-1"><input name="equipment_and" id="cb-opt-area-sp-5-1" value="autolock" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">オートロック</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-5-2"><input name="equipment_and" id="cb-opt-area-sp-5-2" value="tv_doorphone" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">テレビドアフォン</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>建物・室内装備</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-1"><input name="carpark_status" id="cb-opt-area-sp-6-1" value="1,2,3" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">駐車場有</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-2"><input name="equipment_and" id="cb-opt-area-sp-6-2" value="delivery_locker" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">宅配ボックス</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-3"><input name="equipment_and" id="cb-opt-area-sp-6-3" value="BT_separate" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">バストイレ別</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-4"><input name="equipment_and" id="cb-opt-area-sp-6-4" value="bathroom_dryer" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">浴室乾燥機</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-5"><input name="equipment_and" id="cb-opt-area-sp-6-5" value="spray_toilet" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">温水洗浄便座</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-6"><input name="equipment_and" id="cb-opt-area-sp-6-6" value="oidaki" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">追い焚き</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-7"><input name="equipment_and" id="cb-opt-area-sp-6-7" value="flooring" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">フローリング</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-area-sp-6-8"><input name="airconditioner" id="cb-opt-area-sp-6-8" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">エアコン付</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <!--<li><label class="hr-ck" for="cb-opt-area-sp-6-9"><input name="equipment_and" id="cb-opt-area-sp-6-9" value="lavatory_independence" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">独立洗面台</span></span></label></li>-->
                    <li><br></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.elem-select-kodawari -->
  </div>
  <!-- /.box-options -->
  <div class="box--footer">
    <ul class="btn-list action">
      <li><input class="btn-search" value="この条件で検索する" type="submit"></li>
    </ul>
  </div>
  <!-- /.box-footer -->
</form>
</div>
<!-- /#_searchbox_search_area -->
<!-- ######## エリア検索ここまで ######## -->
<!-- ######## 沿線検索ここから ######## -->
<div class="sidesearch-content-wrapper" id="_searchbox_search_ensen">
<form action="/hebel-rooms/search/list_a/" method="get" accept-charset="utf-8">
  <div class="box--head">
    <h2 class="ttl"><img src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/common/sidenav/title-ensen-box.jpg" alt=""></h2>
    <ul class="btn-list action cf">
      <li><a href="#" title="現在の条件をクリアする" class="btn-clear">現在の条件をクリアする</a></li>
      <li class="for_pc"><input class="btn-search" value="この条件で検索する" type="submit"></li>
      <li class="for_sp"><input class="btn-search" value="この条件で検索する" type="submit"></li>
    </ul>
  </div>
  <!-- /.box-head -->
  <div class="box--options">
    <div class="elem-box elem-select-area open" id="_elem-select-ensen">
      <div class="elem-head">
        <h3 class="ttl with-link"><a href="#" title="物件の条件" class="ic-plus">沿線選択</a></h3>
        <div class="for_sp">
          <ul class="cf tab_select_type">
            <li><a href="#" class="_sptab_btn_search_area" title="エリア検索">エリア検索</a></li>
            <li><a href="#" title="沿線検索" class="c _sptab_btn_search_ensen">沿線検索</a></li>
          </ul>
        </div>
      </div>
      <div class="elem-cont">
        <ul class="btn-list btns-area cf" id="btns-select-ensen">
          <li><a title="関東エリア" class="btn-select-ensen" id="sidebar_ensen_kanto" href="/page.jsp?id=393077&amp;pref_cd=13">関東エリア</a></li>
          <li><a title="東海エリア" class="btn-select-ensen" id="sidebar_ensen_tokai" href="/page.jsp?id=393077&amp;pref_cd=22">東海エリア</a></li>
          <li><a title="関西エリア" class="btn-select-ensen" id="sidebar_ensen_kansai" href="/page.jsp?id=393077&amp;pref_cd=27">関西エリア</a></li>
          <li><a title="西日本エリア" class="btn-select-ensen" id="sidebar_ensen_other" href="/page.jsp?id=393077&amp;pref_cd=40">西日本エリア</a></li>
        </ul>
      </div>
    </div>
    <!-- /.elem-select-area -->
    <div class="elem-box elem-select-options ">
      <div class="elem-head">
        <h3 class="ttl with-link"><a href="#" title="物件の条件" class="ic-plus">物件の条件</a></h3>
      </div>
      <div class="elem-cont">
        <div class="inner options">
          <table class="">
            <tbody>
              <tr>
                <th>賃料</th>
                <td>
                  <ul class="cf range">
                    <li>
                      <select class="hr-select sidesearch_price_min" name="rent_amount_lower" id="select-opt-ensen-sidesearch_price_min">
                        <option value="" id="select-opt-ensen-1-1" selected="">下限なし</option>
                        <option label="3.0万円" value="30000" id="select-opt-ensen-1-2">3.0万円</option>
                        <option label="3.5万円" value="35000" id="select-opt-ensen-1-3">3.5万円</option>
                        <option label="4.0万円" value="40000" id="select-opt-ensen-1-4">4.0万円</option>
                        <option label="4.5万円" value="45000" id="select-opt-ensen-1-5">4.5万円</option>
                        <option label="5.0万円" value="50000" id="select-opt-ensen-1-6">5.0万円</option>
                        <option label="5.5万円" value="55000" id="select-opt-ensen-1-7">5.5万円</option>
                        <option label="6.0万円" value="60000" id="select-opt-ensen-1-8">6.0万円</option>
                        <option label="6.5万円" value="65000" id="select-opt-ensen-1-9">6.5万円</option>
                        <option label="7.0万円" value="70000" id="select-opt-ensen-1-10">7.0万円</option>
                        <option label="7.5万円" value="75000" id="select-opt-ensen-1-11">7.5万円</option>
                        <option label="8.0万円" value="80000" id="select-opt-ensen-1-12">8.0万円</option>
                        <option label="8.5万円" value="85000" id="select-opt-ensen-1-13">8.5万円</option>
                        <option label="9.0万円" value="90000" id="select-opt-ensen-1-14">9.0万円</option>
                        <option label="9.5万円" value="95000" id="select-opt-ensen-1-15">9.5万円</option>
                        <option label="10万円" value="100000" id="select-opt-ensen-1-16">10万円</option>
                        <option label="11万円" value="110000" id="select-opt-ensen-1-17">11万円</option>
                        <option label="12万円" value="120000" id="select-opt-ensen-1-18">12万円</option>
                        <option label="13万円" value="130000" id="select-opt-ensen-1-19">13万円</option>
                        <option label="14万円" value="140000" id="select-opt-ensen-1-20">14万円</option>
                        <option label="15万円" value="150000" id="select-opt-ensen-1-21">15万円</option>
                        <option label="16万円" value="160000" id="select-opt-ensen-1-22">16万円</option>
                        <option label="17万円" value="170000" id="select-opt-ensen-1-23">17万円</option>
                        <option label="18万円" value="180000" id="select-opt-ensen-1-24">18万円</option>
                        <option label="19万円" value="190000" id="select-opt-ensen-1-25">19万円</option>
                        <option label="20万円" value="200000" id="select-opt-ensen-1-26">20万円</option>
                        <option label="30万円" value="300000" id="select-opt-ensen-1-27">30万円</option>
                        <option label="50万円" value="500000" id="select-opt-ensen-1-28">50万円</option>
                        <option label="100万円" value="1000000" id="select-opt-ensen-1-29">100万円</option>
                      </select>
                    </li>
                    <li class="separator">～</li>
                    <li>
                      <select class="hr-select sidesearch_price_max" name="rent_amount_upper" id="select-opt-ensen-sidesearch_price_max">
                        <option label="3.5万円" value="35000" id="select-opt-ensen-2-1">3.5万円</option>
                        <option label="4.0万円" value="40000" id="select-opt-ensen-2-2">4.0万円</option>
                        <option label="4.5万円" value="45000" id="select-opt-ensen-2-3">4.5万円</option>
                        <option label="5.0万円" value="50000" id="select-opt-ensen-2-4">5.0万円</option>
                        <option label="5.5万円" value="55000" id="select-opt-ensen-2-5">5.5万円</option>
                        <option label="6.0万円" value="60000" id="select-opt-ensen-2-6">6.0万円</option>
                        <option label="6.5万円" value="65000" id="select-opt-ensen-2-7">6.5万円</option>
                        <option label="7.0万円" value="70000" id="select-opt-ensen-2-8">7.0万円</option>
                        <option label="7.5万円" value="75000" id="select-opt-ensen-2-9">7.5万円</option>
                        <option label="8.0万円" value="80000" id="select-opt-ensen-2-10">8.0万円</option>
                        <option label="8.5万円" value="85000" id="select-opt-ensen-2-11">8.5万円</option>
                        <option label="9.0万円" value="90000" id="select-opt-ensen-2-12">9.0万円</option>
                        <option label="9.5万円" value="95000" id="select-opt-ensen-2-13">9.5万円</option>
                        <option label="10万円" value="100000" id="select-opt-ensen-2-14">10万円</option>
                        <option label="11万円" value="110000" id="select-opt-ensen-2-15">11万円</option>
                        <option label="12万円" value="120000" id="select-opt-ensen-2-16">12万円</option>
                        <option label="13万円" value="130000" id="select-opt-ensen-2-17">13万円</option>
                        <option label="14万円" value="140000" id="select-opt-ensen-2-18">14万円</option>
                        <option label="15万円" value="150000" id="select-opt-ensen-2-19">15万円</option>
                        <option label="16万円" value="160000" id="select-opt-ensen-2-20">16万円</option>
                        <option label="17万円" value="170000" id="select-opt-ensen-2-21">17万円</option>
                        <option label="18万円" value="180000" id="select-opt-ensen-2-22">18万円</option>
                        <option label="19万円" value="190000" id="select-opt-ensen-2-23">19万円</option>
                        <option label="20万円" value="200000" id="select-opt-ensen-2-24">20万円</option>
                        <option label="30万円" value="300000" id="select-opt-ensen-2-25">30万円</option>
                        <option label="50万円" value="500000" id="select-opt-ensen-2-26">50万円</option>
                        <option label="100万円" value="1000000" id="select-opt-ensen-2-27">100万円</option>
                        <option value="" id="select-opt-ensen-2-28" selected="">上限なし</option>
                      </select>
                    </li>
                  </ul>
                  <ul class="cf cks ck-style-multiline li-2">
                    <li class="textline_x2"><label class="hr-ck" for="cb-opt-ensen-1-1"><input name="rent_total_upper" id="cb-opt-ensen-1-1" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">共益費 / 管理費を含む</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-2"><input name="reikin_upper" id="cb-opt-ensen-1-2" value="0.01" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">礼金なし</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>間取り</th>
                <td class="madori">
                  <ul class="li-3 cf">
                    <li><label class="hr-ck" for="cb-opt-ensen-1-3"><input name="room_layout_type" id="cb-opt-ensen-1-3" value="OneRoom,1K,1SK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1R・1K</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-4"><input name="room_layout_type" id="cb-opt-ensen-1-4" value="1DK,1SDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1DK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-5"><input name="room_layout_type" id="cb-opt-ensen-1-5" value="1LDK,1SLDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1LDK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-6"><input name="room_layout_type" id="cb-opt-ensen-1-6" value="2K,2SK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2K</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-7"><input name="room_layout_type" id="cb-opt-ensen-1-7" value="2DK,2SDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2DK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-8"><input name="room_layout_type" id="cb-opt-ensen-1-8" value="2LDK,2SLDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2LDK</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-1-9"><input name="room_layout_type" id="cb-opt-ensen-1-9" value="3K,3SK,3DK,3SDK,3LDK,3SLDK,4K,4SK,4DK,4SDK,4LDK,4SLDK" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">3K以上</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>専有面積</th>
                <td>
                  <ul class="cf range">
                    <li>
                      <select class="hr-select sidesearch_areasize_min" name="square_lower" id="select-opt-ensen-sidesearch_areasize_min">
                        <option value="" id="select-opt-ensen-3-1" selected="">下限なし</option>
                        <option value="10" id="select-opt-ensen-3-2">10m2</option>
                        <option value="15" id="select-opt-ensen-3-3">15m2</option>
                        <option value="20" id="select-opt-ensen-3-4">20m2</option>
                        <option value="25" id="select-opt-ensen-3-5">25m2</option>
                        <option value="30" id="select-opt-ensen-3-6">30m2</option>
                        <option value="35" id="select-opt-ensen-3-7">35m2</option>
                        <option value="40" id="select-opt-ensen-3-8">40m2</option>
                        <option value="45" id="select-opt-ensen-3-9">45m2</option>
                        <option value="50" id="select-opt-ensen-3-10">50m2</option>
                        <option value="60" id="select-opt-ensen-3-11">60m2</option>
                        <option value="70" id="select-opt-ensen-3-12">70m2</option>
                        <option value="80" id="select-opt-ensen-3-13">80m2</option>
                        <option value="90" id="select-opt-ensen-3-14">90m2</option>
                        <option value="100" id="select-opt-ensen-3-15">100m2</option>
                        <option value="110" id="select-opt-ensen-3-16">110m2</option>
                        <option value="120" id="select-opt-ensen-3-17">120m2</option>
                        <option value="130" id="select-opt-ensen-3-18">130m2</option>
                        <option value="140" id="select-opt-ensen-3-19">140m2</option>
                        <option value="150" id="select-opt-ensen-3-20">150m2</option>
                        <option value="200" id="select-opt-ensen-3-21">200m2</option>
                      </select>
                    </li>
                    <li class="separator">～</li>
                    <li>
                      <select class="hr-select sidesearch_areasize_max" name="square_upper" id="select-opt-ensen-sidesearch_areasize_max">
                        <option value="15" id="select-opt-ensen-4-1">15m2</option>
                        <option value="20" id="select-opt-ensen-4-2">20m2</option>
                        <option value="25" id="select-opt-ensen-4-3">25m2</option>
                        <option value="30" id="select-opt-ensen-4-4">30m2</option>
                        <option value="35" id="select-opt-ensen-4-5">35m2</option>
                        <option value="40" id="select-opt-ensen-4-6">40m2</option>
                        <option value="45" id="select-opt-ensen-4-7">45m2</option>
                        <option value="50" id="select-opt-ensen-4-8">50m2</option>
                        <option value="60" id="select-opt-ensen-4-9">60m2</option>
                        <option value="70" id="select-opt-ensen-4-10">70m2</option>
                        <option value="80" id="select-opt-ensen-4-11">80m2</option>
                        <option value="90" id="select-opt-ensen-4-12">90m2</option>
                        <option value="100" id="select-opt-ensen-4-13">100m2</option>
                        <option value="110" id="select-opt-ensen-4-14">110m2</option>
                        <option value="120" id="select-opt-ensen-4-15">120m2</option>
                        <option value="130" id="select-opt-ensen-4-16">130m2</option>
                        <option value="140" id="select-opt-ensen-4-17">140m2</option>
                        <option value="150" id="select-opt-ensen-4-18">150m2</option>
                        <option value="200" id="select-opt-ensen-4-19">200m2</option>
                        <option value="" id="select-opt-ensen-4-20" selected="">上限なし</option>
                      </select>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>アクセス</th>
                <td>
                  <ul class="cf li-2 access2">
                    <li><label class="hr-rd" for="cb-opt-ensen-2-1"><input name="est_transport_time_upper" id="cb-opt-ensen-2-1" value="5" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">5分以内</span></span></label></li>
                    <li><label class="hr-rd" for="cb-opt-ensen-2-2"><input name="est_transport_time_upper" id="cb-opt-ensen-2-2" value="10" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">10分以内</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 access2">
                    <li><label class="hr-rd" for="cb-opt-ensen-2-4"><input name="est_transport_time_upper" id="cb-opt-ensen-2-4" value="15" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">15分以内</span></span></label></li>
                    <li><label class="hr-rd" for="cb-opt-ensen-2-3"><input name="est_transport_time_upper" id="cb-opt-ensen-2-3" value="100" checked="checked" type="radio"><span class="ic"></span><span class="label-cont"><span class="txt">指定なし</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>築年数</th>
                <td>
                  <p class="single-col yearsold">
                    <select class="hr-select sidesearch_yearsold" name="complete_year_lower" id="select-opt-ensen-sidesearch_yearsold">
                      <option value="100" id="select-opt-ensen-5-1" selected="selected">指定なし</option>
                      <option value="new" id="select-opt-ensen-5-2">新築</option>
                      <option value="3" id="select-opt-ensen-5-3">3年以内</option>
                      <option value="5" id="select-opt-ensen-5-4">5年以内</option>
                      <option value="10" id="select-opt-ensen-5-5">10年以内</option>
                      <option value="15" id="select-opt-ensen-5-6">15年以内</option>
                      <option value="20" id="select-opt-ensen-5-7">20年以内</option>
                      <option value="25" id="select-opt-ensen-5-8">25年以内</option>
                      <option value="30" id="select-opt-ensen-5-9">30年以内</option>
                    </select>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.elem-select-options -->
    <div class="elem-box elem-select-kodawari">
      <div class="elem-head">
        <h3 class="ttl with-link"><a href="#" title="こだわり条件" class="ic-plus">こだわり条件</a></h3>
      </div>
      <div class="elem-cont">
        <div class="inner kodawari for_pc">
          <ul class="cf cks ">
            <li class="check-type-btn"><input name="room_keyword" id="cb-opt-ensen-3-1" value="ペット共生" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-3-1">ペット共生物件</label></li>
            <li class="check-type-btn"><input name="enter_div" id="cb-opt-ensen-3-2" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-3-2">即入居可</label></li>
            <li class="check-type-btn"><input name="surety" id="cb-opt-ensen-3-3" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-3-3">保証人不要</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-3-4" value="division_type" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-3-4">分譲賃貸</label></li>
            <li class="check-type-btn w_x2"><input name="equipment_and" id="cb-opt-ensen-3-5" value="walk_in" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-3-5">ウォークインクローゼット</label></li>
            <li class="check-type-btn"><input name="floor_upper" id="cb-opt-ensen-4-1" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-4-1">1階</label></li>
            <li class="check-type-btn"><input name="floor_lower" id="cb-opt-ensen-4-2" value="2" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-4-2">2階以上</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-5-1" value="autolock" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-5-1">オートロック</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-5-2" value="tv_doorphone" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-5-2">テレビドアフォン</label></li>
            <li class="check-type-btn"><input name="carpark_status" id="cb-opt-ensen-6-1" value="1,2,3" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-1">駐車場有</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-2" value="delivery_locker" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-2">宅配ボックス</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-3" value="BT_separate" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-3">バストイレ別</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-4" value="bathroom_dryer" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-4">浴室乾燥機</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-5" value="spray_toilet" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-5">温水洗浄便座</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-6" value="oidaki" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-6">追い焚き</label></li>
            <li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-7" value="flooring" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-7">フローリング</label></li>
            <li class="check-type-btn"><input name="airconditioner" id="cb-opt-ensen-6-8" value="1" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-8">エアコン付</label></li>
            <!--<li class="check-type-btn"><input name="equipment_and" id="cb-opt-ensen-6-9" value="lavatory_independence" type="checkbox"><label class="btn-ck" for="cb-opt-ensen-6-9">独立洗面台</label></li>-->
          </ul>
        </div>
        <div class="inner options kodawari for_sp">
          <table>
            <tbody>
              <tr>
                <th>人気のこだわり条件</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-3-1"><input name="room_keyword" id="cb-opt-ensen-sp-3-1" value="ペット共生" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">ペット共生物件</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-3-2"><input name="enter_div" id="cb-opt-ensen-sp-3-2" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">即入居可</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-3-3"><input name="surety" id="cb-opt-ensen-sp-3-3" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">保証人不要</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-3-4"><input name="equipment_and" id="cb-opt-ensen-sp-3-4" value="division_type" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">分譲賃貸</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-3-5"><input name="equipment_and" id="cb-opt-ensen-sp-3-5" value="walk_in" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">ウォークインクローゼット</span></span></label></li>
                    <li><br></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>位置</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-4-1"><input name="floor_upper" id="cb-opt-ensen-sp-4-1" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">1階</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-4-2"><input name="floor_lower" id="cb-opt-ensen-sp-4-2" value="2" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">2階以上</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>セキュリティ</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-5-1"><input name="equipment_and" id="cb-opt-ensen-sp-5-1" value="autolock" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">オートロック</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-5-2"><input name="equipment_and" id="cb-opt-ensen-sp-5-2" value="tv_doorphone" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">テレビドアフォン</span></span></label></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>建物・室内装備</th>
                <td>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-1"><input name="carpark_status" id="cb-opt-ensen-sp-6-1" value="1,2,3" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">駐車場有</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-2"><input name="equipment_and" id="cb-opt-ensen-sp-6-2" value="delivery_locker" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">宅配ボックス</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-3"><input name="equipment_and" id="cb-opt-ensen-sp-6-3" value="BT_separate" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">バストイレ別</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-4"><input name="equipment_and" id="cb-opt-ensen-sp-6-4" value="bathroom_dryer" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">浴室乾燥機</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-5"><input name="equipment_and" id="cb-opt-ensen-sp-6-5" value="spray_toilet" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">温水洗浄便座</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-6"><input name="equipment_and" id="cb-opt-ensen-sp-6-6" value="oidaki" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">追い焚き</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-7"><input name="equipment_and" id="cb-opt-ensen-sp-6-7" value="flooring" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">フローリング</span></span></label></li>
                    <li><label class="hr-ck" for="cb-opt-ensen-sp-6-8"><input name="airconditioner" id="cb-opt-ensen-sp-6-8" value="1" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">エアコン付</span></span></label></li>
                  </ul>
                  <ul class="cf li-2 ck-style-multiline">
                    <!--<li><label class="hr-ck" for="cb-opt-ensen-sp-6-9"><input name="equipment_and" id="cb-opt-ensen-sp-6-9" value="lavatory_independence" type="checkbox"><span class="ic"></span><span class="label-cont"><span class="txt">独立洗面台</span></span></label></li>-->
                    <li><br></li>
                </ul></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.elem-select-kodawari -->
  </div>
  <!-- /.box-options -->
  <div class="box--footer">
    <ul class="btn-list action">
      <li><input class="btn-search" value="この条件で検索する" type="submit"></li>
    </ul>
  </div>
  <!-- /.box-footer -->
</form>
</div>
<!-- /#_searchbox_search_ensen -->
<!-- ######## 沿線検索ここまで ######## -->
<!-- ######## お気に入りここから ######## -->
<div class="sidesearch-content-wrapper _searchbox_favorite_list" id="_searchbox_favorite_list">
@@@extension:HR_S1_Favorite(393038::393037::393039::/hebel-rooms/common_v2/img/property/main_sample.jpg)@@@
</div>
<!-- ######## お気に入りここまで ######## -->
</div>
</div>
<!-- /.box-area -->
<!--
モーダルウィンドウ　ここから
選択肢は動的に変わる想定です
-->
<!-- ######## エリア ######## -->
<div class="modalwindow modal-selectareabox" id="_modal-areabox">
</div>
<!-- ######## エリア ######## -->
<!-- ######## 沿線 ######## -->
<div class="modalwindow modal-selectareabox" id="_modal-ensenbox">
</div>
<!-- ######## 沿線 ######## -->
<!-- ######## 駅 ######## -->
<div class="modalwindow modal-selectareabox" id="_modal-stationbox">
</div>
<!-- ######## 駅 ######## -->
<!-- モーダルウィンドウ　ここまで -->
<!--
##########################
サイドバー検索ツール　ここまで
##########################
--><script aria-hidden="true" type="application/x-lastpass" id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script>
<!-- ↑↑ [ header ] ↑↑ -->