<!-- ↓↓ [ footer ] ↓↓ -->
<div class="wrap_footer" id="wrap_footer">
  <!-- *********** 【FOR SP】 *********** -->
  <div class="foot-menu-title">
    <h4 class="ttl"><img alt="" src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/sp/common/foot-menu-title.png"></h4>
  </div>
  <!-- *********** /【FOR SP】 *********** -->
  <div class="footer" id="footer">
    <div class="footer-content-top" id="footer-content-top">
      <div class="inner">
        <ul class="cf">
            <li class="li01">
              <h4 class="list-title"><a href="/hebel-rooms/search/index.html/">お部屋を探す</a></h4>
              <ul class="submenus cf search-prop" id="footer-content-toggle-01">
                <li class="parent"><a href="#">関東</a>
                  <ul class="child">
                    <li><a href="/hebel-rooms/search/tokyo/index.html/">東京都</a></li>
                    <li><a href="/hebel-rooms/search/kanagawa/index.html/">神奈川県</a></li>
                    <li><a href="/hebel-rooms/search/chiba/index.html/">千葉県</a></li>
                    <li><a href="/hebel-rooms/search/saitama/index.html/">埼玉県</a></li>
                    <li><a href="/hebel-rooms/search/ibaraki/index.html/">茨城県</a></li>
                  </ul>
                </li>
                <li class="parent"><a href="#">東海</a>
                  <ul class="child">
                    <li><a href="/hebel-rooms/search/shizuoka/index.html/">静岡県</a></li>
                    <li><a href="/hebel-rooms/search/aichi/index.html/">愛知県</a></li>
                    <li><a href="/hebel-rooms/search/mie/index.html/">三重県</a></li>
                    <li><a href="/hebel-rooms/search/gifu/index.html/">岐阜県</a></li>
                  </ul>
                </li>
                <li class="parent"><a href="#">関西</a>
                  <ul class="child">
                    <li><a href="/hebel-rooms/search/oosaka/index.html/">大阪府</a></li>
                    <li><a href="/hebel-rooms/search/kyoto/index.html/">京都府</a></li>
                    <li><a href="/hebel-rooms/search/hyogo/index.html/">兵庫県</a></li>
                    <li><a href="/hebel-rooms/search/nara/index.html/">奈良県</a></li>
                    <li><a href="/hebel-rooms/search/shiga/index.html/">滋賀県</a></li>
                    <li><a href="/hebel-rooms/search/wakayama/index.html/">和歌山県</a></li>
                  </ul>
                </li>
                <li class="parent"><a href="#">西日本</a>
                  <ul class="child">
                    <li><a href="/hebel-rooms/search/fukuoka/index.html/">福岡県</a></li>
                    <li><a href="/hebel-rooms/search/hiroshima/index.html/">広島県</a></li>
                    <li><a href="/hebel-rooms/search/okayama/index.html/">岡山県</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="li02 parent for_pc">
              <h4 class="list-title"><a href="/hebel-rooms/feature/index.html/">こだわり物件特集</a></h4>
              <ul class="submenus child" id="footer-content-toggle-02">
                <li class="parent"><a href="#">PICK UP</a>
                  <ul class="child">
                    <li><a href="/hebel-rooms/feature/petkyousei.html/">ペット共生型賃貸住宅・<br>+わん+にゃん</a></li>
                    <li><a href="/hebel-rooms/feature/fufu/index.html/">共働き夫婦二人の賃貸住宅<br>「fufu（フフ）」</a></li>
                    <li><a href="/hebel-rooms/feature/renovation/index.html/">リノベーション賃貸住宅特集</a></li>
                    <li><a href="/hebel-rooms/feature/zeh/index.html/">ＺＥＨ対応ヘーベルメゾン特集</a></li>
                    <li><a href="/hebel-rooms/feature/shinchiku.html/">新築賃貸物件特集</a></li>
                  </ul>
                </li>
                <li class="parent"><a href="#">ライフスタイルから探す</a>
                  <ul class="child">
                    <li><a href="http://www.asahi-kasei.co.jp/rent/boriki/index.html/" target="_blank">子育て共感賃貸住宅・母力</a></li>
                    <li><a href="/hebel-rooms/feature/newsafole/index.html/">女性のあんしん共有賃貸・<br>New Safole</a></li>
                    <li><a href="//www.asahi-kasei.co.jp/hebel-senior/index.html/" target="_blank">シニア向け安心賃貸住宅・<br>へーベルVillage</a></li>
                    <li><a href="/hebel-rooms/feature/fldk/index.html/">まどり可変型賃貸住宅・<br>fLDK</a></li>
                    <li><a href="/hebel-rooms/feature/advanced/sora/index.html/">戸建て感覚の賃貸住宅・<br>空間（そら）</a></li>
                  </ul>
                </li>
                <li class="parent"><a href="#">こだわりから探す</a>
                  <ul class="child">
                    <li><a href="/hebel-rooms/feature/security.html/">セキュリティ強化型賃貸住宅</a></li>
                    <li><a href="/hebel-rooms/feature/ekichikai.html/">駅近物件</a></li>
                    <li><a href="/hebel-rooms/feature/syunou.html/">収納充実（WIC）物件</a></li>
                    <li><a href="/hebel-rooms/feature/tomin.html/">都民賃貸住宅</a></li>
                    <li><a href="/hebel-rooms/feature/yutorifuru.html/">食品受取宅配ボックス付賃貸住宅</a></li>
                    <!--
                    <li>
                      <form id="nosmoke_footer">
                        <a href="/hebel-rooms/search/list_a/?building_keyword=%E7%A6%81%E7%85%99&amp;search_results_text=%E7%A6%81%E7%85%99%E3%83%9E%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7" data-value="" class="sidebar-regist type-kodawari">
                          禁煙マンション
                        </a>
                        <input name="search_results_text" value="禁煙" type="hidden">
                        <input name="building_keyword" value="禁煙" type="hidden">
                        <input name="city_selected" value="全国" type="hidden">
                      </form>
                    </li>
                    -->
                  </ul>
                </li>
              </ul>
            </li>
            <li class="li02 parent for_sp">
              <h4 class="list-title"><a href="/hebel-rooms/feature/index.html/">こだわり物件特集</a></h4>
              <ul class="submenus child">
                <li><a href="/hebel-rooms/feature/petkyousei.html/">ペット共生型賃貸住宅・<br>+わん+にゃん</a></li>
                <li><a href="/hebel-rooms/feature/fufu/index.html/">共働き夫婦二人の賃貸住宅<br>「fufu（フフ）」</a></li>
                <li><a href="/hebel-rooms/feature/renovation/index.html/">リノベーション賃貸住宅特集</a></li>
                <li><a href="/hebel-rooms/feature/zeh/index.html/">ＺＥＨ対応ヘーベルメゾン特集</a></li>
                <li><a href="/hebel-rooms/feature/shinchiku.html/">新築賃貸物件特集</a></li>
                <li><a href="http://www.asahi-kasei.co.jp/rent/boriki/index.html/" target="_blank">子育て共感賃貸住宅・母力</a></li>
                <li><a href="/hebel-rooms/feature/newsafole/index.html/">女性のあんしん共有賃貸・<br>New Safole</a></li>
                <li><a href="//www.asahi-kasei.co.jp/hebel-senior/index.html/" target="_blank">シニア向け安心賃貸住宅・<br>へーベルVillage</a></li>
                <li><a href="/hebel-rooms/feature/fldk/index.html/">まどり可変型賃貸住宅・<br>fLDK</a></li>
                <li><a href="/hebel-rooms/feature/advanced/sora/index.html/">戸建て感覚の賃貸住宅・<br>空間（そら）</a></li>
                <li><a href="/hebel-rooms/feature/security.html/">セキュリティ強化型賃貸住宅</a></li>
                <li><a href="/hebel-rooms/feature/ekichikai.html/">駅近物件</a></li>
                <li><a href="/hebel-rooms/feature/syunou.html/">収納充実（WIC）物件</a></li>
                <li><a href="/hebel-rooms/feature/tomin.html/">都民賃貸住宅</a></li>
                <li><a href="/hebel-rooms/feature/yutorifuru.html/">食品受取宅配ボックス付賃貸住宅</a></li>
                <!--
                <li>
                  <form id="nosmoke_footer_sp">
                    <a class="sidebar-regist type-kodawari" href="/hebel-rooms/search/list_a/?building_keyword=%E7%A6%81%E7%85%99&amp;search_results_text=%E7%A6%81%E7%85%99%E3%83%9E%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E7%89%A9%E4%BB%B6%E4%B8%80%E8%A6%A7" data-value="">
                      禁煙マンション
                    </a>
                    <input name="search_results_text" value="禁煙" type="hidden">
                    <input name="building_keyword" value="禁煙" type="hidden">
                    <input name="city_selected" value="全国" type="hidden">
                  </form>
                </li>
                -->
              </ul>
            </li>
          <li class="li03">
            <h4 class="list-title"><a href="/hebel-rooms/features/index.html/">サービスの特長</a></h4>
            <ul class="submenus" id="footer-content-toggle-03">
              <li><a href="/hebel-rooms/features/hebelmaison/index.html/">ヘーベルメゾンの特長</a></li>
              <li><a href="/hebel-rooms/features/atlas/index.html/">アトラスの特長</a></li>
              <li class="parent"><a href="/hebel-rooms/features/service/index.html/">ヘーベルROOMSのサービス</a>
                <ul class="child">
                  <li><a href="/hebel-rooms/features/service/flow.html/">ご契約までの流れ</a></li>
                  <li><a href="/hebel-rooms/features/service/member.html/">ヘーベルROOMS倶楽部</a></li>
                  <li><a href="/hebel-rooms/features/service/management.html/">建物管理サービス</a></li>
                  <li><a href="/hebel-rooms/features/service/system.html/">連帯保証人不要システム</a></li>
                  <li><a href="/hebel-rooms/features/service/insurance.html/">旭化成のヘーベルROOMS保険</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="li04">
            <h4 class="list-title"><a href="/hebel-rooms/shop/index.html/">店舗を探す</a></h4>
            <ul class="submenus">
            <li><a href="/hebel-rooms/shop/agency_shutoken.html/">関東エリア代理店一覧</a></li>
            <li><a href="/hebel-rooms/shop/agency_toukai.html/">東海エリア代理店一覧</a></li>
            <li><a href="/hebel-rooms/shop/agency_kansai.html/">関西エリア代理店一覧</a></li>
            <li><a href="/hebel-rooms/shop/agency_other.html/">西日本エリア代理店一覧</a></li>
            </ul>
          </li>
          <li class="li05">
            <h4 class="list-title"><a href="/hebel-rooms/magazine/index.html/">ROOMSスタイル</a></h4>
            <ul class="submenus" id="footer-content-toggle-05">
                <!-- <li><a href="/hebel-rooms/magazine/tvcm/index.html/">最新TVCM</a></li> -->
                <li><span style="line-height: 1.9; font-size: 12px;">最新TVCM（Coming soon）</span></li>
              <li class="parent"><a href="/hebel-rooms/magazine/style/index.html/">暮らしで知るヘーベルROOMS</a>
                <ul class="child">
                  <li><a href="/hebel-rooms/magazine/style/001_security.html/">「安心を生み出すセキュリティー」</a></li>
                  <li><a href="/hebel-rooms/magazine/style/002_family.html/">「ひとクラス上のデザイン・設備」</a></li>
                  <li><a href="/hebel-rooms/magazine/style/003_bath.html/">「水回りの充実は生活の充実」</a></li>
                  <li><a href="/hebel-rooms/magazine/style/004_storage.html/">「フトコロ広い、たっぷり収納」</a></li>
                  <li><a href="/hebel-rooms/magazine/style/005_pet.html/">「ペットとともに暮らす癒しの空間」</a></li>
                </ul>
              </li>
            </ul>
            <ul class="submenus mt30">
              <li><a href="/hebel-rooms/sitemap.html/" target="_blank">サイトマップ</a></li>
            </ul>
          </li>
          <!-- *********** 【FOR SP】 *********** -->
<!--             <li class="for_sp parent">
            <h4 class="list-title"><a href="#">ダミー</a></h4>
            <ul class="submenus child">
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
            </ul>
          </li>
          <li class="for_sp parent">
            <h4 class="list-title"><a href="#">ダミー</a></h4>
            <ul class="submenus child">
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
              <li><a href="#">下層ダミー</a></li>
            </ul>
          </li> -->
          <!-- *********** /【FOR SP】 *********** -->
        </ul>
      </div>
    </div><!-- /.footer-content-top -->
    <div class="search-box">
      <div class="inner">
      <h4 class="list-title">サイト内検索</h4>
      <form name="SS_searchForm" id="SS_searchForm" action="//find.afr-web.co.jp/search" enctype="application/x-www-form-urlencoded" method="get">
      <input name="site" value="BFQUS0L4" type="hidden">
      <input name="group" value="6" type="hidden">
      <input name="design" value="12" type="hidden">
      <input name="query" class="search" id="SS_searchQuery" maxlength="100" type="text">
      <input name="submit" id="SS_searchSubmit" value="" type="submit">
      </form>
      <!-- <input class="search" id="foot-search-box" type="input"> -->
      </div>
    </div>
    <div class="footer-content-middle">
      <div class="inner">
        <div class="footer-lead-area">
          <p><a title=" 耐火・断熱・耐震を兼ね備えた住まい・賃貸物件(マンション・アパート・一戸建て)を探すなら、旭化成不動産レジデンスのへーベルROOMS。" href="//www.afr-web.co.jp/hebel-rooms/index.html/"> 耐火・断熱・耐震を兼ね備えた住まい・賃貸物件(マンション・アパート・一戸建て)を探すなら、旭化成不動産レジデンスのへーベルROOMS。</a></p>
        </div>
      </div>
    </div><!-- /.footer-content-middle -->
    <div class="for_sp footer-content-bottom">
      <!-- *********** 【FOR SP】 *********** -->
      <div class="scrolltopwrap">
        <a class="scrolltop for_sp" id="scrollTop" href="#"><img alt="" src="//www.afr-web.co.jp/hebel-rooms/common_v2/img/sp/common/sp-scrollup.png"></a>
      </div>
      <div class="centering-list for_sp">
        <ul class="cf">
          <li><a href="//www.afr-web.co.jp/fudousan/sitemap/index.html/" target="_blank">サイトマップ</a></li>
          <li class="separator">｜</li>
          <li><a href="//www.afr-web.co.jp/fudousan/info/privacy.html/" target="_blank">プライバシーポリシー</a></li>
        </ul>
      </div>
      <div class="centering-list for_sp">
        <ul class="cf">
          <li><a href="//www.afr-web.co.jp/fudousan/info/legal.html/" target="_blank">ご利用条件</a></li>
          <li class="separator">｜</li>
          <li><a href="//www.afr-web.co.jp/fudousan/info/aboutus.html/" target="_blank">宅建業法上の表示</a></li>
        </ul>
      </div>
      <!-- *********** /【FOR SP】 *********** -->
      <p class="copylight">Copyright© 2015 Asahi Kasei&nbsp; Realty&nbsp;&amp; &nbsp;Residence Corp. All rights reserved.</p>
    </div><!-- /.footer-content-bottom -->
    <!-- #j-koho-footer -->
    <div class="footer-area footer-hidden-sp" id="j-koho-footer">
      <div class="footer-nav-list">
        <div class="list-block">
          <p class="list-heading j-koho-common-footer_toggle">住宅が欲しい</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://www.asahi-kasei.co.jp/hebel/index.html/?link_id=AFR_footer01" target="_blank" rel="noopener">戸建住宅・注文住宅（ヘーベルハウス）</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/stock/index.html/?link_id=AFR_footer02" target="_blank" rel="noopener">既存住宅（ストックヘーベルハウス）</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/atlas/index.html/?link_id=AFR_footer03" target="_blank" rel="noopener">分譲マンション（アトラス）</a></li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <p class="list-heading j-koho-common-footer_toggle">部屋を借りたい</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://www.afr-web.co.jp/hebel-rooms/index.html/?link_id=AFR_footer04" target="_blank" rel="noopener">賃貸お部屋探し（ヘーベルROOMS）</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/hebel-senior/index.html/?link_id=AFR_footer05" target="_blank" rel="noopener">シニア向け住宅（ヘーベルvillage）</a></li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <p class="list-heading j-koho-common-footer_toggle">土地活用</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://www.asahi-kasei.co.jp/maison/index.html/?link_id=AFR_footer06" target="_blank" rel="noopener">アパート経営・土地活用（ヘーベルメゾン）</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/maison/products/hbs/index.html/?link_id=AFR_footer07" target="_blank" rel="noopener">中高層ビルディング（ヘーベルビルズ）</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/atlas/tochisaisei/index.html/?link_id=AFR_footer08" target="_blank" rel="noopener">等価交換（分譲マンション・賃貸マンション）</a></li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <p class="list-heading j-koho-common-footer_toggle">都市開発事業</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://www.afr-web.co.jp/tatekae-lab/index.html/?link_id=AFR_footer09" target="_blank" rel="noopener">マンション建替え</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/atlas/saikaihatsu/index.html/?link_id=AFR_footer10" target="_blank" rel="noopener">市街地再開発</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/atlas/kaihatsu/index.html/?link_id=AFR_footer11" target="_blank" rel="noopener">資産コンサルティング</a></li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <p class="list-heading j-koho-common-footer_toggle">お住まいの方・オーナーの方</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://hebelian.com/net/?link_id=AFR_footer12" target="_blank" rel="noopener">ヘーベルハウスにお住まいの方</a></li>
              <li class="item"><a href="https://hebelian.com/maison/?link_id=AFR_footer13" target="_blank" rel="noopener">ヘーベルメゾン オーナーの方</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/atlas/cs/index.html/?link_id=AFR_footer14" target="_blank" rel="noopener">アトラスにお住まいの方</a></li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <p class="list-heading j-koho-common-footer_toggle">オーナー様向けサービス</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://hebelian.com/reform/?link_id=AFR_footer15" target="_blank" rel="noopener">お住まいのリフォーム</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/stock/owner/index.html/?link_id=AFR_footer16" target="_blank" rel="noopener">お住まいのご売却</a></li>
              <li class="item"><a href="https://hebelian.com/net/denki/index.php?link_id=AFR_footer17" target="_blank" rel="noopener">ヘーベル電気</a></li>
              <li class="item"><a href="https://hebelian.com/net/hikari/?link_id=AFR_footer18" target="_blank" rel="noopener">ヘーベル光</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.footer-nav-list-->
      <div class="footer-nav-bnr"> <a href="https://www.asahi-kasei.co.jp/hebelhaus/index.html/?link_id=AFR_footer19" target="_blank" rel="noopener"><img class="hebel" alt="HEBEL HAUS" src="https://www.asahi-kasei.co.jp/j-koho/images/footer/footer_logo_hebel.png"></a> <a href="https://hebelian.com/net/?link_id=AFR_footer20" target="_blank" rel="noopener"><img class="hebelian" alt="ヘーベルハウスのオーナーサイト ヘーベリアンネット" src="https://www.asahi-kasei.co.jp/j-koho/images/footer/footer_logo_hebelian.png"></a> </div>
      <!--/.footer-nav-bnr-->
      <div class="footer-nav-homes">
        <div class="inner">
          <p class="heading j-koho-common-footer_toggle">旭化成ホームズ</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/about_ak_homes.html/?link_id=AFR_footer21" target="_blank" rel="noopener">企業情報</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/companies.html/?link_id=AFR_footer22" target="_blank" rel="noopener">関係会社一覧</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/business.html/?link_id=AFR_footer23" target="_blank" rel="noopener">事業紹介</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/press_list.html/?link_id=AFR_footer24" target="_blank" rel="noopener">ニュースリリース</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/jobs.html/?link_id=AFR_footer25" target="_blank" rel="noopener">採用情報</a></li>
              <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/environment_index.html/?link_id=AFR_footer26" target="_blank" rel="noopener">環境・CSR</a></li>
              <li class="item last-row"><a href="https://www.asahi-kasei.co.jp/j-koho/research.html/?link_id=AFR_footer27" target="_blank" rel="noopener">研究機関</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.footer-nav-homes-->
      <div class="footer-nav-fudousan">
        <div class="inner">
          <p class="heading j-koho-common-footer_toggle">旭化成不動産レジデンス</p>
          <div class="accordion">
            <ul class="link-list">
              <li class="item"><a href="https://www.afr-web.co.jp/fudousan/corporate/index.html/?link_id=AFR_footer28" target="_blank" rel="noopener">企業情報</a></li>
              <li class="item"><a href="https://www.afr-web.co.jp/saiyou/index.html/?link_id=AFR_footer29" target="_blank" rel="noopener">採用情報</a></li>
              <li class="item item_sub last-row">
                <p class="heading_sub">関連会社</p>
                <ul class="link-list_sub">
                  <li class="item"><a href="https://www.afr-web.co.jp/fudousan/fcommunity/index.html/?link_id=AFR_footer30" target="_blank" rel="noopener">旭化成不動産コミュニティ</a></li>
                  <li class="item"><a href="https://www.afr-web.co.jp/fudousan/chintai-support/index.html/?link_id=AFR_footer31" target="_blank" rel="noopener">旭化成賃貸サポート</a></li>
                  <li class="item"><a href="https://www.afr-web.co.jp/taiwan/cn/index.html/?link_id=AFR_footer32" target="_blank" rel="noopener">台湾旭化成都市開発</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.footer-nav-homes-->
      <div class="footer-main">
        <p class="footer-logo"><img class="fudousan" alt="旭化成不動産レジデンス株式会社" src="https://www.asahi-kasei.co.jp/j-koho/images/footer/footer_logo_fudousan_black.png"></p>
        <ul class="link-list">
          <li class="item"><a href="https://www.afr-web.co.jp/fudousan/info/privacy.html/?link_id=AFR_footer33" target="_blank" rel="noopener">プライバシーポリシー</a></li>
          <li class="item"><a href="https://www.afr-web.co.jp/fudousan/info/legal.html/?link_id=AFR_footer34" target="_blank" rel="noopener">ご利用条件</a></li>
          <li class="item"><a href="https://www.asahi-kasei.co.jp/j-koho/social.html/?link_id=AFR_footer35" target="_blank" rel="noopener">ソーシャルメディアポリシー</a></li>
          <li class="item"><a href="https://www.afr-web.co.jp/fudousan/sitemap/index.html/?link_id=AFR_footer36" target="_blank" rel="noopener">サイトマップ</a></li>
          <li class="item last-row"><a href="https://www.afr-web.co.jp/fudousan/info/aboutus.html/?link_id=AFR_footer37" target="_blank" rel="noopener">宅建業法上の表示</a></li>
          <li class="item last-row"><a href="https://www.afr-web.co.jp/fudousan/contactus/index.html/?link_id=AFR_footer38" target="_blank" rel="noopener">お問い合わせ</a></li>
        </ul>
        <p class="copyright">Copyright© Asahi Kasei Realty &amp; Residence Corporation. All rights reserved.</p>
      </div>
      <!--/.footer-main--> 
    </div>
  </div>
</div><!-- /footer -->
<!-- ↑↑ [ footer ] ↑↑ -->