<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="author" content="">
  
  <!-- キャッシュ対策 -->
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <!-- /キャッシュ対策 -->
  
  <meta name="description" content="テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト">
  <meta name="keywords" content="キーワード,キーワード,キーワード,キーワード,キーワード">
  <title>タイトル</title>
  
  <!-- @@@ TEMPLATE BEGIN @@@ -->
  <link rel="shortcut icon" type="image/x-icon" href="//www.afr-web.co.jp/hebel-rooms/common_v2/favicon.ico">
  
  <meta name="viewport" content="width=device-width, target-densitydpi=medium-dpi, initial-scale=1, minimum-scale=1,maximum-scale=1.0,user-scalable=no" id="_chk-viewport">
  
  <link rel="stylesheet" href="//www.afr-web.co.jp/hebel-rooms/common_v2/lib/scrollup/image.css" type="text/css">
  <link rel="stylesheet" href="//www.afr-web.co.jp/hebel-rooms/common_v2/lib/selectBoxIt/jquery.selectBoxIt.css" type="text/css">
  <link rel="stylesheet" href="//www.afr-web.co.jp/file.jsp?id=356290" type="text/css">
  <link rel="stylesheet" href="//www.afr-web.co.jp/file.jsp?id=359205" type="text/css">
  
  <link rel="canonical" href="">
  <!-- @@@ TEMPLATE END @@@ -->
  
  <!-- ↓↓ アドバンススクリプト ↓↓ --><%
if(pageName === 'search/detail/'){%>
  <link rel="stylesheet" href="/hebel-rooms/lightbox/style.css" type="text/css">
	<link rel="stylesheet" href="/hebel-rooms/css/detail/swiper.css" type="text/css">
	<link rel="stylesheet" href="/hebel-rooms/css/detail/style.css" type="text/css"><%
}%>
  <!-- ↑↑ アドバンススクリプト ↑↑ -->
  
  <link rel="stylesheet" type="text/css" href="//www.asahi-kasei.co.jp/j-koho/css/j-koho_footer.css" media="all" />
  <script type="text/javascript" src="//www.asahi-kasei.co.jp/j-koho/js/j-koho_footer.js"></script>
</head>