<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="author" content="">
  
  <!-- キャッシュ対策 -->
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <!-- /キャッシュ対策 -->
<%
  if(meta){%>
    <meta name="description" content="<%= meta.desc %>">
    <meta name="keywords" content="<%= meta.key %>"><%
    if(pageName === 'lightbox08' || pageName === '/search/list_a/'){%>
      <title><%= meta.title %>｜ヘーベルメゾンの安心の賃貸</title><%
    } else {%>
      <title><%= meta.title %>｜HEBEL HAUSの賃貸住宅 ヘーベルメゾン（旧ヘーベルROOMS）</title><%
    }
  } else {%>
    <meta name="description" content="テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト">
    <meta name="keywords" content="キーワード,キーワード,キーワード,キーワード,キーワード">
    <title>タイトル</title><%
  }%>
  
  <!-- @@@ TEMPLATE BEGIN @@@ -->
  <link rel="shortcut icon" type="image/x-icon" href="//www.afr-web.co.jp/hebel-rooms/common_v2/favicon.ico">
  
  <meta name="viewport" content="width=device-width, target-densitydpi=medium-dpi, initial-scale=1, minimum-scale=1,maximum-scale=1.0,user-scalable=no" id="_chk-viewport">
  
  <link rel="stylesheet" href="//www.afr-web.co.jp/hebel-rooms/common_v2/lib/scrollup/image.css" type="text/css">
  <link rel="stylesheet" href="//www.afr-web.co.jp/hebel-rooms/common_v2/lib/selectBoxIt/jquery.selectBoxIt.css" type="text/css">
  <link rel="stylesheet" href="/hebel-rooms/common_v2/css/style.css" type="text/css">
  <link rel="stylesheet" href="//www.afr-web.co.jp/file.jsp?id=359205" type="text/css">
  
  <link rel="canonical" href="">
  <!-- @@@ TEMPLATE END @@@ -->
  
  <!-- ↓↓ アドバンススクリプト ↓↓ --><%
  if(pageName === '/features/hebelmaison/' || pageName === '/features/hebelmaison/facility.html' || pageName === '/features/hebelmaison/room.html'){%>
    <link rel="stylesheet" href="/hebel-rooms/common_v2/css/features/hebelmaison/style.css" type="text/css">
    <link rel="stylesheet" href="/hebel-rooms/common_v2/css/features/hebelmaison/swiper.css" type="text/css"><%
    }
  if(pageName === 'search/detail/'){%>
    <link rel="stylesheet" href="/hebel-rooms/lightbox/style.css" type="text/css">
    <link rel="stylesheet" href="/hebel-rooms/css/detail/swiper.css" type="text/css">
    <link rel="stylesheet" href="/hebel-rooms/css/detail/style.css" type="text/css"><%
  }
  if(pageName === '/search/list_a/' || pageName === '/search/list_favorite/' || pageName === '/search/history/'){%>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/hebel-rooms/lightbox/style.css" type="text/css">
    <link rel="stylesheet" href="/hebel-rooms/css/navi.css">
    <link rel="stylesheet" href="/hebel-rooms/common_v2/css/search/style.css">
    <script type="text/javascript" src="/hebel-rooms/common_v2/lib/jquery.min.js"></script>
    <script src="/hebel-rooms/lightbox/jquery.fancybox.min.js" defer></script><%
  }
  if(pageName === '/search/list_favorite/'){%>
    <script src="/hebel-rooms/common_v2/js/search/qrcode.min.js"></script>

    <script>
function getQr(url,event) {
  event.preventDefault();
    const modal =  document.querySelector(event.currentTarget.getAttribute('href'));
    if(!modal.classList.contains('is-qr-show')) {
      new QRCode(modal.querySelector('.qrcode'), {
        text:url,
        width: 128,
        height: 128,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
      });
      modal.classList.add('is-qr-show');
    }
}

function toggleShareList(event) {
  event.preventDefault();
  event.currentTarget.closest('.js-has-share').querySelector('.js-share-list').classList.toggle('is-show');
}

function getPageUrl(url,event){
  _this = event.currentTarget;
  navigator.clipboard.writeText(url);
  _this.classList.add('is-show');
  setTimeout(() => {
    _this.classList.remove('is-show');
  }, 2000);
}
</script>
    <%
  }
  if(pageName === '/search/list_a/' || pageName === '/search/list_favorite/' || pageName === '/search/history/'){%>
    <script src="/hebel-rooms/common_v2/js/search/page.js" defer></script><%
  }
  if( pageName === '/search/history/'){%>
    <script>
      function countdown(tableAccordion){
        if(tableAccordion !== null){
            const text = tableAccordion.querySelector('.property-detail-table-foot_text').textContent;
            const numbers = text.match(/\d+/g);
            tableAccordion.querySelector('.property-detail-table-foot_text').textContent = text.replace(/\d+/g, numbers - 1);
          }
      };
      function propertyDetailRemove(event){
        event.preventDefault;
        const target = event.currentTarget;
        const content = target.closest('.property-detail');
        const tableAccordion = content.querySelector('.js-table-accordion');
        if( target.closest('.property-detail_table-body').childElementCount === 1){
            const table = target.closest('.js-table');
            target.closest('.property-detail_table-body').remove();
            tableAccordion.style.display = 'none';
            if(table.querySelectorAll('.property-detail_table-body').length === 0){
            content.remove();
            }
        } else {
          target.closest('.property-detail_table-body-inner').remove();
          countdown(tableAccordion);
        }
      }
      function contentsRemove(event){
        event.preventDefault;
        event.currentTarget.closest('._searchbox_history_list-property-item').remove();
      }
    </script><%
  }
  if(pageName === 'lightbox08'){%>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/hebel-rooms/common_v2/lib/jquery.min.js"></script>
    <script src="//www.afr-web.co.jp/file.jsp?id=356289" defer></script>
    <link rel="stylesheet" href="/hebel-rooms/lightbox08/css/style.css">
    <script>
      window.addEventListener('DOMContentLoaded',function(){
        function deviceCheck(){
          const ua = navigator.userAgent;
          if (ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0)) {
            return 'sp';
          } else if (ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('macintosh') > -1 && 'ontouchend' in document)) {
            return 'tab';
          } else {
            return 'other';
          }
        }
        console.log(deviceCheck());
        if(deviceCheck() === 'sp'){
          document.querySelector('body').classList.add('sp');
        }
      },false);
    </script><%
  }%>
  <!-- ↑↑ アドバンススクリプト ↑↑ -->
  
  <link rel="stylesheet" type="text/css" href="//www.asahi-kasei.co.jp/j-koho/css/j-koho_footer.css" media="all" />
  <script type="text/javascript" src="//www.asahi-kasei.co.jp/j-koho/js/j-koho_footer.js"></script>
</head>