<h3 class="section-body-content-heading"><%if(head.num){%><span class="section-body-content-heading_num"><%- head.num  %></span><%}%><%- head.heading  %></h3><%
if(head.note){%>
  <p class="section-body-content-head_note"><%- head.note %></p><%
}%>