@use "~/../src/assets/scss/global" as G;
@use "sass:math";

/******************************************************************************
* section-head
*******************************************************************************/
.section-head {
  width: 100%;
  max-width: 1000px;
  padding: 0 0 90px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  @include G.MQ_BELOW_TAB {
    width: calc(100% - 40px);
    padding: 0 0 45px;
  }
}

.section-heading {
  font-weight: bold;
  color: #1e2380;
  letter-spacing: 0;
  @include G.FONT_PC(24);
  @include G.MQ_BELOW_TAB {
    @include G.FONT_PC(18);
  }
}

.section-subheading {
  margin-top: 30px;
  font-weight: bold;
  @include G.FONT_PC(16);
  @include G.MQ_BELOW_TAB {
    margin-top: 25px;
    @include G.FONT_PC(15);
  }
}

.section-head .text-wrap {
  margin-top: 10px;
  @include G.MQ_BELOW_TAB {
    padding: 0 10px;
    margin-top: 15px;
    text-align: left;
  }
}

.section-head .note-wrap {
  margin-top: 15px;
  @include G.MQ_BELOW_TAB {
    padding: 0 10px;
    margin-top: 15px;
    text-align: left;
  }
}