    <!-- お役立ちコンテンツ一覧 -->
    <div class="service_section section">
      <div class="section-header">
        <h2 class="section_title">
          <span class="section_title-japanese">お役立ちコンテンツ一覧</span>
          <span class="section_title-english">SERVICE</span>
        </h2>
      </div>
      <div class="section-content js-swiper-service-section swiper-container">
        <div class="row col-4 swiper-wrapper swiper-no-scroll-pc">
          <div class="col swiper-slide">
            <a href="/hebel-rooms/feature/index.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-01.jpg" alt="こだわり物件検索" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">こだわり物件特集</h3>
                <p class="content-desc">新築や駅近など、人気の検索条件を特集しています。さらにヘーベルメゾンならではの特別な賃貸物件もご紹介しています。</p>
              </div>
            </a>
          </div>
          <!-- <div class="col">
            <a href="/hebel-rooms/magazine/style/index.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-02.jpg" alt="暮らしで知るヘーベルメゾン" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">暮らしで知るヘーベルメゾン</h3>
                <p class="content-desc">ヘーベルメゾンの賃貸物件での様々な暮らしのスタイルをご紹介。暮らしの中のたくさんの笑顔をお届けします。</p>
              </div>
            </a>
          </div> -->
          <div class="col swiper-slide">
            <a href="/hebel-rooms/tenant/app.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-09.jpg" alt="入居者専用アプリ" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">入居者専用アプリ</h3>
                <p class="content-desc">へーベルメゾンのご入居者様専用のアプリです。お住まいの地域の生活情報などをご提供しています。 </p>
              </div>
            </a>
          </div>
          <div class="col swiper-slide">
            <a href="/hebel-rooms/features/index.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-03.jpg" alt="サービスの特長" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">サービスの特長</h3>
                <p class="content-desc">ヘーベルメゾンやアトラスなど建物の魅力をご紹介。また、保険など快適で安心な暮らしができる多彩なサービスをご紹介します。</p>
              </div>
            </a>
          </div>
          <!-- <div class="col">
            <a href="/hebel-rooms/magazine/index.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-07.jpg" alt="最新TVCM" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">TVCM&amp;MOVIES</h3>
                <p class="content-desc">最新のTVCMやヘーベルメゾンの魅力をまとめた紹介ムービーなどをご覧いただけます。</p>
              </div>
            </a>
          </div> -->
          <div class="col swiper-slide">
            <a href="/hebel-rooms/shop/agency_shutoken.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-05.jpg" alt="店舗を探す" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">店舗を探す</h3>
                <p class="content-desc">お部屋探しのプロが条件にあった物件をご紹介します。お部屋探しでお悩みの際は、ぜひ店舗にてご相談ください。</p>
              </div>
            </a>
          </div>
          <!-- <div class="col">
            <a href="/hebel-rooms/reason/index.html/">
              <img src="/hebel-rooms/common_v2/img/element/useful-content/fig-08.jpg" alt="店舗を探す" class="thumb " width="304" height="206">
              <div class="cont">
                <h3 class="content-title">選ばれる理由をつくる。ヘーベルメゾン</h3>
                <p class="content-desc">【TVCM放映中】<br>耐火・断熱・耐震を兼ね備えた「へーベルメゾン」の賃貸情報とお客様に選ばれる理由をご紹介します。</p>
              </div>
            </a>
          </div> -->
        </div><!-- /.row -->
        <div class="swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M20,40C8.95,40,0,31.05,0,20S8.95,0,20,0s20,8.95,20,20-8.95,20-20,20Z" fill-rule="evenodd" opacity=".6"/><path d="M22.9,11.72c-.2-.22-.45-.34-.72-.34-.25,0-.52,.11-.72,.34l-6.55,7.44c-.2,.22-.3,.51-.3,.82s.1,.59,.3,.81l6.55,7.44c.4,.45,1.04,.45,1.44,0s.4-1.18,0-1.63l-5.82-6.62,5.82-6.62c.4-.45,.4-1.18,0-1.64h0Z" fill="#fff"/></svg>
        </div>
        <div class="swiper-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M20,40C8.95,40,0,31.05,0,20S8.95,0,20,0s20,8.95,20,20-8.95,20-20,20Z" fill-rule="evenodd" opacity=".6"/><path d="M17.1,28.28c.2,.22,.45,.34,.72,.34,.25,0,.52-.11,.72-.34l6.55-7.44c.2-.22,.3-.51,.3-.82s-.1-.59-.3-.81l-6.55-7.44c-.4-.45-1.04-.45-1.44,0-.4,.45-.4,1.18,0,1.63l5.82,6.62-5.82,6.62c-.4,.45-.4,1.18,0,1.64h0Zm0,0" fill="#fff"/></svg>
        </div>
      </div>
    </div>
    <!-- /service_section -->